/data-preparation/update-scripts/aat-data/*
/data-preparation/update-scripts/geonames-data/*
/data-preparation/update-scripts/gnd-bibliographic-data/*
/data-preparation/update-scripts/gnd-facts-data/*
/data-preparation/update-scripts/ulan-data/*
*.DS_Store
.gradle
.settings
target
.project
.classpath
.vscode
bin
tmp
runtime*
gradle.properties
