data-preparation/update-scripts/aat-data/*
data-preparation/update-scripts/geonames-data/*
data-preparation/update-scripts/gnd-authorities-data/*
data-preparation/update-scripts/gnd-bibliographic-data/*
data-preparation/update-scripts/gnd-facts-data/*
data-preparation/update-scripts/ulan-data/*
data-preparation/groupingFeatureAdjustment/data*
data-preparation/groupingFeatureAdjustment/output*
.idea
*.war
*.DS_Store
.env
.gradle
.settings
target
.project
.classpath
.vscode
bin
tmp
runtime*
gradle.properties
docker-compose.override.yml