version: "3"
services:
  rds-dev:
    container_name: "rds-dev"
    build: 
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
      - "10214:10214"
    volumes:
      - .:/workdir