[[#*inline "Mph_Short_Biography"]]
    { "id": "Mph_Short_Biography",
       "iri" : "http://www.metaphacts.com/fieldDefinition/Short_Biography",
       "deletePattern" : "DELETE {
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
    ?info_iri rdfs:value ?value
    } 
    WHERE 
    {
    ?subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
    ?info_iri a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>.
    ?info_iri crm:P2_has_type <https://resource.swissartresearch.net/biographical_note>.
    ?info_iri rdfs:value ?value
    }",
       "selectPattern" : "SELECT DISTINCT ?value ?label WHERE {
    ?subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
    ?info_iri a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>.
    ?info_iri crm:P2_has_type <https://resource.swissartresearch.net/biographical_note>.
    ?info_iri rdfs:value ?value
    }",
       "xsdDatatype" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#langString",
       "domain" : [ ], "range" : [ ], "defaultValues" : [ ], "label" : "Biography",
       "insertPattern" : "INSERT { 
    ?subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
    ?info_iri a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>.
    ?info_iri crm:P2_has_type <https://resource.swissartresearch.net/biographical_note>.
    ?info_iri rdfs:value ?value.
    ?infor_iri <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
    ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
    ?lang rdfs:label ?lang_label
    } 
    WHERE {
    BIND(IRI(CONCAT(STR($subject),\"/biography/\", MD5(str(?value)))) as ?info_iri).
    {SELECT ?lang WHERE {
    BIND(LANG(?value) as ?langTag)
    BIND(IRI(CONCAT(STR($subject),\"/appellation/\", MD5(str(?value)))) as ?name_identifier).
    VALUES ( ?lang ?langTag ?lang_label) {
    (<https://glottolog.org/resource/languoid/id/stan1293> \"\" \"English\")
    (<https://glottolog.org/resource/languoid/id/stan1293> \"en\" \"English\")
    (<https://glottolog.org/resource/languoid/id/stan1290> \"fr\" \"French\")
    (<https://glottolog.org/resource/languoid/id/stan1295> \"de\" \"German\")
    (<https://glottolog.org/resource/languoid/id/ital1282> \"it\" \"Italian\")
    }
        } LIMIT 1}
    }",
       "order" : 0 }
[[/inline]]

[[#*inline "Mph_Identifier_Provider"]]
    {
        "id" : "Mph_Identifier_Provider",
        "iri" : "http://www.metaphacts.com/fieldDefinition/Identifier_Provider",
        "deletePattern" : "DELETE {
        ?subject <http://www.cidoc-crm.org/cidoc-crm/P140i_was_attributed_by> ?attr_assignment.
        ?attr_assignment <http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by> ?actor.
        ?actor rdfs:label ?value.
    } WHERE {
        ?subject <http://www.cidoc-crm.org/cidoc-crm/P140i_was_attributed_by> ?attr_assignment.
        ?attr_assignment a <http://www.cidoc-crm.org/cidoc-crm/E13_Attribute_Assignment>.
        ?attr_assignment <http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by> ?actor.
        ?actor a <http://www.cidoc-crm.org/cidoc-crm/E39_Actor>.
        ?actor rdfs:label ?value.
    }",
       "selectPattern" : "SELECT DISTINCT ?value ?label WHERE {
        ?subject crm:P140i_was_attributed_by ?attr_assignment.
        ?attr_assignment a crm:E13_Attribute_Assignment.
        ?attr_assignment crm:P14_carried_out_by ?actor.
        ?actor a crm:E39_Actor.
        ?actor rdfs:label ?value
    }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the provider of the identifier attributed to the documented entity",
       "range" : [ ], "label" : "Identifier Provider",
       "insertPattern" : "INSERT {
        ?subject crm:P140i_was_attributed_by ?attr_assignment.
        ?attr_assignment a crm:E13_Attribute_Assignment.
        ?attr_assignment crm:P14_carried_out_by ?actor.
        ?actor a crm:E39_Actor.
        ?actor rdfs:label ?value.
    } WHERE {
    ?person <http://www.ics.forth.gr/isl/CRMdig/L54_is_same-as> ?subject.
    BIND(IRI(CONCAT(STR(?person),\"/identifier_assignment/\",STR(?subject))) AS ?attr_assignment)
    BIND (UUID() AS ?actor)
    }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#string",
       "domain" : [ "http://www.cidoc-crm.org/cidoc-crm/E42_Identifier" ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }
[[/inline]]

[[#*inline "Mph_Identifier"]]
    {
        "id": "Mph_Identifier",
        "iri" : "http://www.metaphacts.com/fieldDefinition/Identifier",
        "deletePattern" : "DELETE {
            ?subject <http://www.ics.forth.gr/isl/CRMdig/L54_is_same-as> ?value.
            } WHERE {
            ?subject <http://www.ics.forth.gr/isl/CRMdig/L54_is_same-as> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E42_Identifier>.
            
            }",
       "selectPattern" : "SELECT DISTINCT ?value ?label WHERE {
            ?subject <http://www.ics.forth.gr/isl/CRMdig/L54_is_same-as> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E42_Identifier> .
            }",
        "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
        "domain" : [ "http://www.cidoc-crm.org/cidoc-crm/E21_Person" ], "description" : "An identifier for the person",
        "range" : [ ], "defaultValues" : [ ], "label" : "Identifier",
        "insertPattern" : "INSERT {
            ?subject <http://www.ics.forth.gr/isl/CRMdig/L54_is_same-as> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E42_Identifier> .
            } WHERE {}
        ",
       "order" : 0 }  
[[/inline]]

[[#*inline "Death_Date_Earliest"]]
    { "id": "Death_Date_Earliest",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Date_Earliest",
       "deletePattern" : "DELETE { 
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
            } 
            WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
            }",
            "selectPattern" : "SELECT DISTINCT ?value ?label 
            WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
        }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the earliest known date for the death of the documented person.",
       "range" : [ ], "label" : "Person Death Date (earliest)",
       "insertPattern" : "INSERT {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
            } WHERE {
            BIND(IRI(CONCAT(STR($subject),\"/death_timespan/\", MD5(str($subject)))) as ?timespan_uri)
        }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#date",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }
[[/inline]]

[[#*inline "Person_Birth_Date_earliest"]]
    { "id": "Person_Birth_Date_earliest",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Birth_Date_earliest",
       "deletePattern" : "DELETE { 
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri crm:P82a_begin_of_the_begin ?value
            } 
            WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
            }",
        "selectPattern" : "SELECT DISTINCT ?value ?label 
            WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
        }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the earliest known date for the birth of the documented person.",
       "range" : [ ], "label" : "Person Birth Date (earliest)",
       "insertPattern" : "INSERT {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82a_begin_of_the_begin ?value.
            } WHERE {
            BIND(IRI(CONCAT(STR($subject),\"/birth_timespan/\", MD5(str($subject)))) as ?timespan_uri)
        }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#date",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }
[[/inline]]

[[#*inline "Mph_Person_GND_URL"]]
    {
        "id": "Mph_Person_GND_URL",
        "iri" : "http://www.metaphacts.com/fieldDefinition/Person_GND_URL",
        "deletePattern" : "DELETE { $subject ?predicate $value} WHERE {}",
        "selectPattern" : "SELECT ?value ?label WHERE {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?id_iri.
            ?id_iri a <http://www.cidoc-crm.org/cidoc-crm/E42_Identifier>.
            ?id_iri <http://www.cidoc-crm.org/cidoc-crm/P37i_was_assigned_by> ?provider.
            ?provider a <http://www.cidoc-crm.org/cidoc-crm/E15_Identifier_Assignment>.
            ?provider <http://www.cidoc-crm.org/cidoc-crm/P16_used_specific_object> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object> .
            ?value rdfs:label ?id_label .
            ?id_iri <http://www.cidoc-crm.org/cidoc-crm/P37i_was_assigned_by> ?provider.
            ?provider a <http://www.cidoc-crm.org/cidoc-crm/E15_Identifier_Assignment>.
            ?provider <http://www.cidoc-crm.org/cidoc-crm/P14_carried_out_by> <https://d-nb.info/>. 
        }",
        "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
        "domain" : [ ],
        "range" : [ ],
        "defaultValues" : [ ],
        "maxOccurs" : "1",
        "label" : "GND Identifier",
        "insertPattern" : "INSERT { $subject ?predicate ?value } WHERE { }",
        "order" : 0
    }
[[/inline]]

[[#*inline "Person_Gender"]]
    {
        "id": "Person_Gender",
        "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Gender",
        "deletePattern" : "DELETE {
            ?subject crm:P2_has_type ?value.
        } WHERE {
            ?subject crm:P2_has_type ?value.
            ?value crm:P2_has_type <https://resource.swissartresearch.net/type/gender>. 
        }",
       "selectPattern" : "SELECT DISTINCT ?value ?label WHERE {
            ?subject crm:P2_has_type ?value.
            ?value crm:P2_has_type <https://resource.swissartresearch.net/type/gender>. 
            VALUES (?value ?label) {
                (<http://vocab.getty.edu/aat/300411836> \"Male\"@en)
                (<http://vocab.getty.edu/aat/300411837> \"Female\"@en)
                (<http://vocab.getty.edu/aat/300417541> \"Neutral\"@en)
            }
        } LIMIT 1",
       "description" : "The type of the alternative name of a person",
       "range" : [ ], "label" : "Person Gender",
       "insertPattern" : "INSERT {
            ?subject crm:P2_has_type ?value.
        } WHERE { }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ ],
       "valueSetPattern" : "SELECT ?value ?label WHERE {
          VALUES (?value ?label) {
            (<http://vocab.getty.edu/aat/300411836> \"Male\"@en)
            (<http://vocab.getty.edu/aat/300411837> \"Female\"@en)
            (<http://vocab.getty.edu/aat/300417541> \"Neutral\"@en)
          }
        }",
       "defaultValues" : [ ],
       "maxOccurs" : "1",
       "order" : 0
    }
[[/inline]]

[[#*inline "Occupation_General_Role"]]
    { "id": "Occupation_General_Role",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Occupation_General_Role",
       "deletePattern" : "DELETE {
            ?subject <http://grp.swissartresearch.net/hadOccupation> ?value .
            } WHERE { 
            ?subject <http://grp.swissartresearch.net/hadOccupation> ?value .
            }",
       "autosuggestionPattern" : "prefix bds: <http://www.bigdata.com/rdf/search#>
            prefix crm: <http://www.cidoc-crm.org/cidoc-crm/> 
            prefix ontolex: <http://www.w3.org/ns/lemon/ontolex#>
            prefix skos: <http://www.w3.org/2004/02/skos/core#>

            SELECT ?value ?label WHERE {
            ?value a skos:Concept.
            ?value a ontolex:lexicalConcept.
            ?value a crm:E55_Type. 
            ?value skos:prefLabel ?label.
            ?label bds:search ?__token__.
            } LIMIT 10",
       "selectPattern" : "SELECT distinct ?value ?label
            WHERE {
                ?subject <http://grp.swissartresearch.net/hadOccupation> ?value.
                ?value <http://www.w3.org/2008/05/skos-xl#altLabel> ?label_iri.
                ?label_iri <http://www.lexinfo.net/ontology/2.0/lexinfo#number> <https://resources.swissartresearch.net/vocab/term/singular>.
                OPTIONAL{
                    ?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?gender.
                }
                BIND(exists{?subject <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?gender} as ?genderEx).
                BIND(IF(?genderEx, (IF(?gender=<http://vocab.getty.edu/aat/300411836>, <https://resources.swissartresearch.net/vocab/term/masculine>, <https://resources.swissartresearch.net/vocab/term/feminine>) ), <https://resources.swissartresearch.net/vocab/term/masculine>) as ?gender_iri).
                ?label_iri <http://www.lexinfo.net/ontology/2.0/lexinfo#gender> ?gender_iri.
                ?label_iri <http://www.w3.org/ns/lemon/ontolex#writtenRep> ?label.
        }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ "http://www.cidoc-crm.org/cidoc-crm/E21_Person" ], "range" : [ ], "defaultValues" : [ ], "label" : "Occupation / General Role",
       "insertPattern" : "INSERT { 
            ?subject <http://grp.swissartresearch.net/hadOccupation> ?value.
            ?value rdfs:label ?label 
            } WHERE {}
            ",
       "order" : 0 }  
[[/inline]]

[[#*inline "Death_Place"]]
    { "id": "Death_Place",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Place",
       "deletePattern" : "DELETE {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?value.
            } 
            WHERE {
            $subject a <http://www.cidoc-crm.org/cidoc-crm/E69_Death>.
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E53_Place>
            }",
       "autosuggestionPattern" : "SELECT ?value ?label WHERE {
            ?value a crm:E53_Place.
            ?value rdfs:label ?label .
            ?label bds:search ?__token__ ;
            bds:minRelevance \"0.2\" ;
            bds:relevance ?score ;
            bds:matchAllTerms \"true\" .
            } LIMIT 10",
       "selectPattern" : "SELECT ?value ?label WHERE {
            $subject <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E53_Place>
            } ",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the place of death of the documented person.",
       "range" : [ ], "label" : "Death Place",
       "insertPattern" : "INSERT {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P7_took_place_at> ?value.
            ?value a <http://www.cidoc-crm.org/cidoc-crm/E53_Place>
            } WHERE {}",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ "http://www.cidoc-crm.org/cidoc-crm/E21_Person" ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Mph_Birth_Place"]]
    { "id": "Mph_Birth_Place",
       "iri" : "http://www.metaphacts.com/fieldDefinition/Birth_Place",
       "deletePattern" : "DELETE { 
            ?subject crm:P7_took_place_at ?value .
            } 
            WHERE {
            ?subject crm:P7_took_place_at ?value .
            ?value a crm:E53_Place.
            }",
       "autosuggestionPattern" : "SELECT ?value ?label WHERE {
            ?value a crm:E53_Place.
            ?value rdfs:label ?label .
            ?label bds:search ?__token__ ;
            bds:minRelevance \"0.2\" ;
            bds:relevance ?score ;
            bds:matchAllTerms \"true\" .
            } LIMIT 10",
       "selectPattern" : "SELECT ?value ?label 
            WHERE {
            $subject crm:P7_took_place_at ?value.
            ?value a crm:E53_Place.
            }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the place of birth of the documented person.",
       "range" : [ ], "label" : "Birth Place",
       "insertPattern" : "INSERT {
            ?subject crm:P7_took_place_at ?value . 
            ?value a crm:E53_Place.
            } 
            WHERE {
            }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Identifier_Source"]]
    { "id": "Identifier_Source",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source",
       "deletePattern" : "DELETE {
            ?subject rdfs:label ?value. 
            } WHERE {
            ?subject rdfs:label ?value.
            }",
       "selectPattern" : "SELECT DISTINCT ?value ?label WHERE {
            ?subject rdfs:label ?value.
            }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the source based on which the identifer was attributed to the object.",
       "range" : [ ], "label" : "Identifier Source",
       "insertPattern" : "INSERT { ?subject rdfs:label ?value. } WHERE { }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#string",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Death_Date_Latest"]]
    { "id": "Death_Date_Latest",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Date_Latest",
       "deletePattern" : "DELETE { 
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri crm:P82b_end_of_the_end ?value.
            } 
            WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82b_end_of_the_end ?value.
        }",
       "selectPattern" : "SELECT DISTINCT ?value ?label 
            WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82b_end_of_the_end ?value.
        }",
        "minOccurs" : "0",
        "description" : "This field is used to indicate the latest known date for the death of the documented person.",
        "range" : [ ], "label" : "Person Death Date (latest)",
        "insertPattern" : "INSERT {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82b_end_of_the_end ?value.
            } WHERE {
            BIND(IRI(CONCAT(STR($subject),\"/death_timespan/\", MD5(str($subject)))) as ?timespan_uri)
        }",
        "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#date",
        "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
        "order" : 0 }  
[[/inline]]

[[#*inline "Mph_Long_Biography"]]
    { "id": "Mph_Long_Biography",
       "iri" : "http://www.metaphacts.com/fieldDefinition/Long_Biography",
       "deletePattern" : "DELETE { ?bio <http://www.cidoc-crm.org/cidoc-crm/has_value> $value. } 
        WHERE 
        {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
            ?info_iri a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>. 
            ?info_iri <http://www.cidoc-crm.org/cidoc-crm/P129_is_about> ?bio.
            ?bio a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>.
            ?bio <http://www.cidoc-crm.org/cidoc-crm/has_value> $value.
            ?bio <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type.
            ?type rdfs:label \"Long Biography\"
        }",
       "selectPattern" : "SELECT ?value ?label WHERE {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
            ?info_iri a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>. 
            ?info_iri <http://www.cidoc-crm.org/cidoc-crm/P129_is_about> ?bio.
            ?bio a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>.
            ?bio <http://www.cidoc-crm.org/cidoc-crm/has_value> $value.
            ?bio <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type.
            ?type rdfs:label \"Long Biography\"
        }",
       "minOccurs" : "0",
       "xsdDatatype" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#langString",
       "domain" : [ ], "range" : [ ], "defaultValues" : [ ], "label" : "Long Biography",
       "insertPattern" : "INSERT { 
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P67i_is_referred_to_by> ?info_iri.
            ?info_iri a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>. 
            ?info_iri <http://www.cidoc-crm.org/cidoc-crm/P129_is_about> ?bio.
            ?bio a <http://www.cidoc-crm.org/cidoc-crm/E73_Information_Object>.
            ?bio <http://www.cidoc-crm.org/cidoc-crm/has_value> $value.
            ?bio <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> ?type.
            ?type rdfs:label \"Long Biography\".
            ?bio <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?language_iri.
        } WHERE {
            BIND(IRI(CONCAT(STR($subject),\"/type/\", MD5(\"Long Biography\"))
            ) as ?type).
            BIND(IRI(CONCAT(STR($subject),\"/info/\", MD5(str(?value)))) as ?info_iri).
            BIND(IRI(CONCAT(STR($subject),\"/long_bio/\", MD5(str(?value)))) as ?bio).
            BIND(lang(?value) as ?lang)
            ?language_iri <http://www.cidoc-crm.org/cidoc-crm/P3_has_note> ?lang.
        
        }",
       "order" : 0 }  
[[/inline]]

[[#*inline "Mph_Person_Name"]]
    { "id": "Mph_Person_Name",
       "iri" : "http://www.metaphacts.com/fieldDefinition/Person_Name",
       "deletePattern" : "DELETE {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
            ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
            ?name_identifier rdfs:label ?value.
        } WHERE {
            $subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
            ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
            ?name_identifier rdfs:label ?value.
            ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://resource.swissartresearch.net/type/preffered_name>.
            ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
            ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
            ?lang rdfs:label ?lang_label.
        }",
       "selectPattern" : "SELECT DISTINCT ?value WHERE {
            ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
            ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
            ?name_identifier rdfs:label ?value.
            ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://resource.swissartresearch.net/type/preffered_name>.
            ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
            ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
            ?lang rdfs:label ?lang_label
        }",
       "xsdDatatype" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#langString",
       "domain" : [ ], "range" : [ ], "defaultValues" : [ ], "label" : "Person Name",
       "insertPattern" : "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
          INSERT {
              ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
              ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
              ?name_identifier rdfs:label ?value.
              ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://resource.swissartresearch.net/type/preffered_name>.
              ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
              ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
              ?lang rdfs:label ?lang_label
          } WHERE { 
              BIND(IRI(CONCAT(STR($subject),\"/appellation/\", MD5(str(?value)))) as ?name_identifier).
              {SELECT * WHERE {
                FILTER (LANG(?value) = ?langTag)
                VALUES (?lang ?langTag ?lang_label) {
                  (<https://glottolog.org/resource/languoid/id/stan1293> \"\" \"English\")
                  (<https://glottolog.org/resource/languoid/id/stan1293> \"en\" \"English\")
                  (<https://glottolog.org/resource/languoid/id/stan1290> \"fr\" \"French\")
                  (<https://glottolog.org/resource/languoid/id/stan1295> \"de\" \"German\")
                  (<https://glottolog.org/resource/languoid/id/ital1282> \"it\" \"Italian\")
                }
            } LIMIT 1}
        }",
       "order" : 0 }  
[[/inline]]

[[#*inline "Person_Birth_Date_latest"]]
    { "id": "Person_Birth_Date_latest",
       "iri" : "https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Birth_Date_latest",
       "deletePattern" : "DELETE { 
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri crm:P82b_end_of_the_end ?value.
        } WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82b_end_of_the_end ?value.
        }",
       "selectPattern" : "SELECT DISTINCT ?value ?label 
        WHERE {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82b_end_of_the_end ?value. 
        }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the latest known date for the birth of the documented person.",
       "range" : [ ], "label" : "Person Birth Date (latest)",
       "insertPattern" : "INSERT {
            ?subject crm:P4_has_time-span ?timespan_uri. 
            ?timespan_uri a crm:E52_Time-Span.
            ?timespan_uri crm:P82b_end_of_the_end ?value.
            } WHERE {
            BIND(IRI(CONCAT(STR($subject),\"/birth_timespan/\", MD5(str($subject)))) as ?timespan_uri)
        }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#date",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Mph_Person_Birth_Place"]]
    {
        "id": "Mph_Person_Birth_Place",
        "iri" : "http://www.metaphacts.com/fieldDefinition/Person_Birth_Place",
       "deletePattern" : "DELETE { 
    ?subject crm:P98i_was_brought_into_life ?value . 
    } 
    WHERE {
    ?subject crm:P98i_was_brought_into_life ?value . 
    ?value a crm:E67_Birth.
    }",
       "selectPattern" : "SELECT DISTINCT ?value ?label 
    WHERE {
    ?subject crm:P98i_was_brought_into_life ?value . 
    ?value a crm:E67_Birth.
    }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the birth of the documented person.",
       "range" : [ ], "label" : "Person Birth",
       "insertPattern" : "INSERT {
    ?subject crm:P98i_was_brought_into_life ?value. 
    ?value a crm:E67_Birth.
    } 
    WHERE { }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Mph_Person_Death_Place"]]
    { "id": "Mph_Person_Death_Place",
       "iri" : "http://www.metaphacts.com/fieldDefinition/Person_Death_Place",
       "deletePattern" : "DELETE { 
    ?subject crm:P100i_died_in ?value . 
    } 
    WHERE {
    ?subject crm:P100i_died_in ?value . 
    ?value a crm:E69_Death.
    }",
       "selectPattern" : "SELECT ?value ?label 
    WHERE {
    ?subject crm:P100i_died_in ?value . 
    ?value a crm:E69_Death.
    } ",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the death of the documented person.",
       "range" : [ ], "label" : "Person Death",
       "insertPattern" : "INSERT {
    ?subject crm:P100i_died_in ?value . 
    ?value a crm:E69_Death.
    } 
    WHERE {
    }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Identifier_Type"]]
    { "id": "Identifier_Type",
       "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type",
       "deletePattern" : "DELETE {
    ?subject crm:P2_has_type ?type_uri.
    ?type_uri rdfs:label ?value. 
    } 
    WHERE {
    ?subject crm:P2_has_type ?type_uri.
    ?type_uri a crm:E55_Type.
    ?type_uri rdfs:label ?value. 
    }",
       "selectPattern" : "SELECT distinct ?value ?label WHERE {
    ?subject crm:P2_has_type ?type_uri.
    ?type_uri a crm:E55_Type.
    ?type_uri rdfs:label ?value.
    }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the type of an identifier attributed to the documented entity.",
       "range" : [ ], "label" : "Identifier Type",
       "insertPattern" : "INSERT {
    ?subject crm:P2_has_type ?type_uri.
    ?type_uri a crm:E55_Type.
    ?type_uri rdfs:label ?value. 
    } 
    WHERE {
    BIND(IRI(CONCAT(STR($subject),\"/types/\", MD5(str($value)))) as ?type_uri).
    }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#string",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Identifier_Value"]]
    { "id": "Identifier_Value",
       "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value",
       "deletePattern" : "DELETE { ?subject rdfs:label ?value.} WHERE {
    ?subject rdfs:label ?value.
    }",
       "selectPattern" : "SELECT distinct ?value ?label WHERE {
    ?subject rdfs:label ?value.
    }",
       "minOccurs" : "0",
       "description" : "The Organizations/Institutions providing the Identifiers",
       "range" : [ ], "label" : "Identifier",
       "insertPattern" : "INSERT {
    ?subject rdfs:label ?value.} 
    WHERE {

    }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#string",
       "domain" : [ "http://www.cidoc-crm.org/cidoc-crm/E21_Person" ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Person_Father"]]
    {
      "id": "Person_Father",
      "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Father",
      "deletePattern" : "DELETE {
        ?birth_uri crm:P97_from_father ?father_uri.
      } WHERE {
        ?subject crm:P98i_was_brought_into_life ?birth_uri.
        ?birth_uri a crm:E67_Birth .
        ?birth_uri crm:P97_from_father ?value.
      }",
      "selectPattern" : "SELECT ?value ?label WHERE {
        ?subject crm:P98i_was_brought_into_life ?birth_uri.
        ?birth_uri a crm:E67_Birth .
        ?birth_uri crm:P97_from_father ?value.
      }",
      "minOccurs" : "0",
      "description" : "This field is used to indicate the biological father of the documented person.",
      "range" : [ ],
      "label" : "Person Father",
      "insertPattern" : "INSERT { 
        ?subject crm:P98i_was_brought_into_life ?birth_uri.
        ?birth_uri a crm:E67_Birth .
        ?birth_uri crm:P97_from_father ?value.
      } WHERE { 
        BIND(IRI(CONCAT(STR($subject),\"/birth\")) as ?birth_uri). 
      }",
      "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
      "domain" : [ ],
      "defaultValues" : [ ],
      "maxOccurs" : "1",
      "order" : 0
    }  
[[/inline]]

[[#*inline "Person_Mother"]]
    {
        "id": "Person_Mother",
        "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Mother",
        "deletePattern" : "DELETE {
                ?birth_uri crm:P96_by_mother ?mother_uri.
            } WHERE {
                ?subject crm:P98i_was_brought_into_life ?birth_uri.
                ?birth_uri a crm:E67_Birth .
                ?birth_uri crm:P96_by_mother ?value.
        }",
        "selectPattern" : "SELECT ?value WHERE {
            ?subject crm:P98i_was_brought_into_life ?birth_uri.
            ?birth_uri a crm:E67_Birth .
            ?birth_uri crm:P96_by_mother ?value.
        }",
        "minOccurs" : "0",
        "description" : "This field is used to indicate the biological mother of the documented person.",
        "range" : [ ],
        "label" : "Person Mother",
        "insertPattern" : "INSERT { 
            ?subject crm:P98i_was_brought_into_life ?birth_uri.
            ?birth_uri a crm:E67_Birth .
            ?birth_uri crm:P96_by_mother ?value.
            } 
            WHERE { 
            BIND(IRI(CONCAT(STR($subject),\"/birth\"))
            as ?birth_uri). 
        } ",
        "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
        "domain" : [ ],
        "defaultValues" : [ ],
        "maxOccurs" : "1",
        "order" : 0
    }  
[[/inline]]

[[#*inline "Person_Social_Relations"]]
    { "id": "Person_Social_Relations",
       "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations",
       "deletePattern" : "DELETE {
    ?subject crm:P01_has_domain ?value.
    }
    WHERE {
    ?subject crm:P01_has_domain ?value.
    ?value a sari:SRPC3_in_social_relation.
    }",
       "selectPattern" : "SELECT ?value ?label WHERE {
    ?subject crm:P01_has_domain ?value.
    ?value a sari:SRPC3_in_social_relation.
    }",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ ], "description" : "This field is used to indicate the social relations of a person.",
       "range" : [ ], "defaultValues" : [ ], "label" : "Person Social Relations",
       "insertPattern" : "INSERT { 
    ?subject crm:P01_has_domain ?value.
    ?value a sari:SRPC3_in_social_relation.
    } 
    WHERE { 
    
    } ",
       "order" : 0 }  
[[/inline]]

[[#*inline "Person_Social_Relations_-_Relation"]]
    { "id": "Person_Social_Relations_-_Relation",
       "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations_-_Relation",
       "deletePattern" : "DELETE {
    $subject crm:P02_has_range ?value.
    }
    WHERE {
    $subject crm:P02_has_range ?value.
    }",
       "selectPattern" : "SELECT ?value WHERE {
    ?subject crm:P02_has_range ?value.
    }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate another person with whom the documented person has a social relation.",
       "range" : [ ], "label" : "Person Social Relations - Relation",
       "insertPattern" : "INSERT { 
    ?subject crm:P02_has_range ?value.
    } 
    WHERE { 
    } ",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Person_Social_Relations_-_Relation_Type"]]
    { "id": "Person_Social_Relations_-_Relation_Type",
       "iri" : "https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations_-_Relation_Type",
       "deletePattern" : "DELETE {
    ?subject sari:SRP3_relation_type ?type_uri.
    ?type_uri rdfs:label ?value.
    }
    WHERE {
    ?subject sari:SRP3_relation_type ?type_uri.
    ?type_uri a crm:E55_Type .
    ?type_uri rdfs:label ?value.
    }",
       "selectPattern" : "SELECT ?value ?label WHERE {
    ?subject sari:SRP3_relation_type ?type_uri.
    ?type_uri a crm:E55_Type .
    ?type_uri rdfs:label ?value.
    }",
       "minOccurs" : "0",
       "description" : "This field is used to indicate the type of social relation holding between the other person and the documented person.",
       "range" : [ ], "label" : "Person Social Relations - Relation Type",
       "insertPattern" : "INSERT { 
    ?subject sari:SRP3_relation_type ?type_uri.
    ?type_uri a crm:E55_Type .
    ?type_uri rdfs:label ?value.
    } 
    WHERE { 
    BIND(IRI(CONCAT(\"rds:\",\"types/\", MD5(str(?value)))) as ?type_uri). 
    } ",
       "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#string",
       "domain" : [ ], "defaultValues" : [ ], "maxOccurs" : "1",
       "order" : 0 }  
[[/inline]]

[[#*inline "Mph_Person_Name_Honorific"]]
    {"id": "Mph_Person_Name_Honorific",
       "iri" : "http://www.metaphacts.com/fieldDefinition/Person_Name_Honorific",
       "deletePattern" : "DELETE {
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
    ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
    ?name_identifier rdfs:label ?value.
    } WHERE {
    $subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
    ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
    ?name_identifier rdfs:label ?value.
    ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://resource.swissartresearch.net/type/honorific>.
    ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
    ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
    ?lang rdfs:label ?lang_label.
    }",
       "selectPattern" : "SELECT DISTINCT ?value ?label WHERE {
    $subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
    ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
    ?name_identifier rdfs:label ?value.
    ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://resource.swissartresearch.net/type/honorific>.
    ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
    ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
    ?lang rdfs:label ?lang_label
    }",
       "xsdDatatype" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#langString",
       "domain" : [ ], "range" : [ ], "defaultValues" : [ ], "label" : "Honorific Name",
       "insertPattern" : "INSERT {
    $subject a <http://www.cidoc-crm.org/cidoc-crm/E21_Person>.
    ?subject <http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by> ?name_identifier.
    ?name_identifier a <http://www.cidoc-crm.org/cidoc-crm/E41_Appellation>.
    ?name_identifier rdfs:label ?value.
    ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P2_has_type> <https://resource.swissartresearch.net/type/honorific>.
    ?name_identifier <http://www.cidoc-crm.org/cidoc-crm/P72_has_language> ?lang.
    ?lang a <http://www.cidoc-crm.org/cidoc-crm/E56_Language>.
    ?lang rdfs:label ?lang_label
    } WHERE { 
    BIND(IRI(CONCAT(STR($subject),\"/appellation/\", MD5(str(?value)))) as ?name_identifier).
    {SELECT ?lang WHERE {
    BIND(LANG(?value) as ?langTag)
    BIND(IRI(CONCAT(STR($subject),\"/appellation/\", MD5(str(?value)))) as ?name_identifier).
    VALUES ( ?lang ?langTag ?lang_label) {
    (<https://glottolog.org/resource/languoid/id/stan1293> \"\" \"English\")
    (<https://glottolog.org/resource/languoid/id/stan1293> \"en\" \"English\")
    (<https://glottolog.org/resource/languoid/id/stan1290> \"fr\" \"French\")
    (<https://glottolog.org/resource/languoid/id/stan1295> \"de\" \"German\")
    (<https://glottolog.org/resource/languoid/id/ital1282> \"it\" \"Italian\")
    }
        } LIMIT 1}
    }",
       "order" : 0 }  
[[/inline]]

[[#*inline "Rdf_type"]]
 {
    "id" : "Rdf_type",
    "iri" : "http://www.metaphacts.com/fieldDefinition/RdfType",
    "selectPattern" : "SELECT ?value WHERE { $subject a ?value. }",
    "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
    "domain" : [ ],
    "range" : [ ],
    "defaultValues" : [ ],
    "label" : "RdfType",
    "insertPattern" : "INSERT { $subject a $value } WHERE {}",
    "deletePattern" : "DELETE { $subject a $value } WHERE {}",
    "order" : 0
}  
[[/inline]]

[[#*inline "Same_as"]]
 {
    "id" : "Same_as",
    "iri" : "http://www.metaphacts.com/fieldDefinition/SameAs",
    "selectPattern" : "prefix owl: <http://www.w3.org/2002/07/owl#> SELECT ?value WHERE { $subject owl:sameAs ?value . }",
    "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
    "domain" : [ ],
    "range" : [ ],
    "defaultValues" : [ ],
    "label" : "Same as",
    "minOccurs" : "0",
    "maxOccurs" : "1",
    "insertPattern" : "prefix owl: <http://www.w3.org/2002/07/owl#> INSERT { $subject owl:sameAs ?value . } WHERE {}",
    "deletePattern" : "prefix owl: <http://www.w3.org/2002/07/owl#> DELETE { $subject owl:sameAs ?value .} WHERE {}",
    "order" : 0
}  
[[/inline]]
