<div>
  <style>
    .Select-option {
      padding: 0;
    }

    .Select-option .rds-custome-row {
      padding: 5px;
      border-top: 1px solid #e1e1e1;
      padding-top: 5px;
    }

    .Select-option:last-child .rds-custome-row {
      border-bottom: 1px solid #e1e1e1;
    }

    .rds-custome-row.rds-subrow,
    .Select-option:first-child .rds-custome-row {
      border-top: none;
    }

    .rds-custome-row.rds-subrow {
      display: flex;
      font-size: 12px;
      align-items: center;
    }

    .Select-option .dataset-bubble {
      margin: 5px;
      border-radius: 100%;
      height: 25px;
      width: 25px;
      overflow: hidden;
      border: 1px solid lightgray;
      background: lightgray;
      outline: none!important;
      padding: 0;
    }
    .Select-option .dataset-bubble img {
      max-height: 100%;
      min-width: 100%;
    }
  </style>
  {{#if reference}}
    <div class="rds-custome-row rds-subrow">
      [[> bubbleLink iri="{{subject.value}}" datasetVariableId="datasetId.value" datasetName="{{datasetLabel.value}}"]]
      <div>
        {{label.value}}{{#if type}} | type: <b>{{#if typeLabel}}{{typeLabel.value}}{{else}}{{type.value}}{{/if}}</b>{{/if}}{{#if score}} | score: <i>{{score.value}}</i>{{/if}}{{#if datasetId}} | dataset: <b>{{#if datasetLabel}}{{datasetLabel.value}}{{else}}{{datasetId.value}}{{/if}}</b>{{/if}}<br>
        {{#if description}}Description: <i>{{description.value}}</i>{{/if}}
      </div>
    </div>
  {{else}}
    <div>
      <div class="rds-custome-row" style="background-color: white">
        {{label.value}}
      </div>
       <div class="rds-custome-row rds-subrow">
        [[> bubbleLink iri="{{subject.value}}" datasetVariableId="datasetId.value" datasetName="{{datasetLabel.value}}"]]
        <div>
          {{label.value}}{{#if type}} | type: <b>{{#if typeLabel}}{{typeLabel.value}}{{else}}{{type.value}}{{/if}}</b>{{/if}}{{#if score}} | score: <i>{{score.value}}</i>{{/if}}{{#if datasetId}} | dataset: <b>{{#if datasetLabel}}{{datasetLabel.value}}{{else}}{{datasetId.value}}{{/if}}</b>{{/if}}<br>
          {{#if description}}Description: <i>{{description.value}}</i>{{/if}}
        </div>
      </div>
    </div>
  {{/if}}
</div>

[[!-- Parameters: [[iri]] - string name of iri [[datasetVariableId]] - string dataset iri [[datasetName]] - dataset Label --]]
[[#*inline "bubbleLink"]]
  <semantic-link iri="[[iri]]">
    <button class="dataset-bubble" title="Link to the same resource in [[datasetName]]({{[[datasetVariableId]]}}).">
       {{#ifCond [[datasetVariableId]] "==" "http://vocab.getty.edu/aat/graph"}}
          <img src="/assets/no_auth/getty-logo.png"/>
        {{else}}{{#ifCond [[datasetVariableId]] "==" "http://vocab.getty.edu/ulan/graph"}}
          <img src="/assets/no_auth/getty-logo.png"/>
        {{else}}{{#ifCond [[datasetVariableId]] "==" "https://d-nb.info/gnd/bibliographicdata/graph"}}
          <img src="/assets/no_auth/gnd-logo.png"/>
        {{else}}{{#ifCond [[datasetVariableId]] "==" "https://d-nb.info/gnd/entityfacts/graph"}}
          <img src="/assets/no_auth/dnb-logo.svg"/>
        {{else}}{{#ifCond [[datasetVariableId]] "==" "http://sws.geonames.org/graph"}}
          <img src="/assets/no_auth/geonames-logo.png"/>
        {{else}}{{#ifCond [[datasetVariableId]] "==" "http://query.wikidata.org/bigdata/namespace/wdq/www.wikidata.org"}}
          <img src="/assets/no_auth/wikidata-logo.png"/>
        {{else}}
          <img src="/assets/no_auth/unknown-logo.png"/>
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
        {{/ifCond}}
    </button>
  </semantic-link>
[[/inline]]