
<style>
  .DataTable--table>thead>tr>th {
    background-color: transparent;
  }
  p.match b {
    color: #dc8a4b;
    font-weight: normal;
  }

  p.match b:after {
    content: " ";
  }

  .searchinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  .searchinput i {
    position: relative;
    left: 12px;
  }
  .searchinput .input {
    flex: 1;
    margin-left: -12px;
    box-shadow: 0px 0px 2px #4a9eba;
    border-color: #4a9eba;
  }
  .searchinput input {
    padding-left: 28px;
  }
  .searchinput .form-group {
    margin-bottom: 0;
  }

  .nav {
    flex-direction: column;
  }
</style>

<div class="page">
  <bs-tab-container
    unmount-on-exit=true
    id="start-page"
    class="bs-left-vertical-tabs"
    default-active-key="Global">

    <div data-flex-layout="row top-center">
      <div style="width: auto; margin: 10px; min-width: 200px  "><!--first column of flex layout-->
        <div class="sidebar" >
          <bs-nav bs-style="tabs" stacked="true">
            <bs-nav-item style='border-bottom: 1px solid rgb(3 101 201 / 38%)'>
              <bs-nav-link event-key="Global"><h3><b>All datasets</b></h3></bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="Local">
                Hosted datasets
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="Wikidata-only">
                Wikidata only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="aat-only">
                AAT only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="ulan-only">
                ULAN only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="bibliographicdata-only">
                Bibliographic data only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="entityfacts-only">
                Entityfacts only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="geonames-only">
                Geonames only
              </bs-nav-link>
            </bs-nav-item>
          </bs-nav>
        </div>
      </div>

      <div style="width: 80%; margin: 30px; min-width: 800px; max-width: 1200px"><!--second column of flex layout-->
        <bs-tab-content animation="false" >
          <bs-tab-pane event-key="Global">[[> search lookupServiceName="aggregated-federated-lookup" label="All datasets"]] </bs-tab-pane>
          <bs-tab-pane event-key="Local">[[> search lookupServiceName="aggregated-default-lookup" label="Hosted datasets"]] </bs-tab-pane>
          <bs-tab-pane event-key="Wikidata-only">[[> search lookupServiceName="wikidata-lookup" label="Wikidata"]] </bs-tab-pane>
          <bs-tab-pane event-key="aat-only">[[> search lookupServiceName="aat-lookup" label="AAT"]] </bs-tab-pane>
          <bs-tab-pane event-key="ulan-only">[[> search lookupServiceName="ulan-lookup" label="ULAN"]] </bs-tab-pane>
          <bs-tab-pane event-key="bibliographicdata-only">[[> search lookupServiceName="bibliographicdata-lookup" label="Bibliographic data"]] </bs-tab-pane>
          <bs-tab-pane event-key="entityfacts-only">[[> search lookupServiceName="entityfacts-lookup" label="Entityfacts"]] </bs-tab-pane>
          <bs-tab-pane event-key="geonames-only">[[> search lookupServiceName="geonames-lookup" label="Geonames"]] </bs-tab-pane>
        </bs-tab-content>
      </div>
    </div>
  </bs-tab-container>
</div>

[[#*inline "search"]]
<div>
  <div data-flex-layout="column center-center">
    <div style="width: 100%">
      <h1>Welcome to RDS project ([[label]])</h1>
      [[!-- This template is uses next parameters set: 'localSourcesOnly' --]]
      <semantic-search limit=1000>
          <semantic-search-keyword-prefetch
            query='{
              "type": "lookup",
              "limit": 20,
              "lookupServiceName": "[[lookupServiceName]]"
            }'>
          </semantic-search-keyword-prefetch>
        
          [[> rdsParts:ResultTableForSemanticSearch]]
      </semantic-search>
    </div>
  </div>
</div>
[[/inline]]