
<style>
  .DataTable--table>thead>tr>th {
    background-color: transparent;
  }
  p.match b {
    color: #dc8a4b;
    font-weight: normal;
  }

  p.match b:after {
    content: " ";
  }

  .searchinput {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  .searchinput i {
    position: relative;
    left: 12px;
  }
  .searchinput .input {
    flex: 1;
    margin-left: -12px;
    box-shadow: 0px 0px 2px #4a9eba;
    border-color: #4a9eba;
  }
  .searchinput input {
    padding-left: 28px;
  }
  .searchinput .form-group {
    margin-bottom: 0;
  }

  .vertical  {
    flex-direction: column;
  }

</style>

<div class="page">
  <bs-tab-container
    unmount-on-exit=true
    id="start-page"
    class="bs-left-vertical-tabs"
    default-active-key="Global">

    <div data-flex-layout="row top-center">
      <div style="width: auto; margin: 10px; min-width: 200px  "><!--first column of flex layout-->
        <div class="sidebar" >
          <bs-nav class="vertical" bs-style="tabs" stacked="true">
            <bs-nav-item style='border-bottom: 1px solid rgb(3 101 201 / 38%)'>
              <bs-nav-link event-key="Global"><h3><b>All datasets</b></h3></bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="Local">
                Hosted datasets
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="Wikidata-only">
                Wikidata only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="aat-only">
                AAT only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="ulan-only">
                ULAN only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="gnd-only">
                GND only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="geonames-only">
                Geonames only
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="thesobjmob-only">
                Thésaurus de la désignation des objets mobiliers
              </bs-nav-link>
            </bs-nav-item>
            <bs-nav-item>
              <bs-nav-link event-key="thesarchesp-only">
                Thésaurus de la désignation des œuvres architecturales et des espaces aménagés
              </bs-nav-link>
            </bs-nav-item>
	    <bs-nav-item>
              <bs-nav-link event-key="sikart-only">
                SIKART only
              </bs-nav-link>
            </bs-nav-item>
          </bs-nav>
        </div>
      </div>

      <div style="width: 80%; margin: 30px; min-width: 800px; max-width: 1200px"><!--second column of flex layout-->
        <bs-tab-content animation="false" >
          <bs-tab-pane event-key="Global">[[> search lookupServiceName="aggregated-federated-lookup" label="All datasets"]] </bs-tab-pane>
          <bs-tab-pane event-key="Local">[[> search lookupServiceName="aggregated-local-lookup" label="Hosted datasets"]] </bs-tab-pane>
          <bs-tab-pane event-key="Wikidata-only">[[> search lookupServiceName="wikidata-lookup" label="Wikidata"]] </bs-tab-pane>
          <bs-tab-pane event-key="aat-only">[[> search lookupServiceName="aat-lookup" label="AAT" tokenize="true"]] </bs-tab-pane>
          <bs-tab-pane event-key="ulan-only">[[> search lookupServiceName="ulan-lookup" label="ULAN"]] </bs-tab-pane>
          <bs-tab-pane event-key="gnd-only">[[> search lookupServiceName="gnd-lookup" label="GND"]] </bs-tab-pane>
          <bs-tab-pane event-key="geonames-only">[[> search lookupServiceName="geonames-lookup" label="Geonames"]] </bs-tab-pane>
          <bs-tab-pane event-key="thesobjmob-only">[[> search lookupServiceName="thesobjmob-lookup" label="Thésaurus de la désignation des objets mobiliers"]]</bs-tab-pane>
          <bs-tab-pane event-key="thesarchesp-only">[[> search lookupServiceName="thesarchesp-lookup" label="Thésaurus de la désignation des œuvres architecturales et des espaces aménagés"]]</bs-tab-pane>
          <bs-tab-pane event-key="sikart-only">[[> search lookupServiceName="sikart-lookup" label="SIKART only"]]</bs-tab-pane>
	</bs-tab-content>
      </div>
    </div>
  </bs-tab-container>
</div>

[[#*inline "searchByType"]]

<semantic-search limit=1000>
        <semantic-search-keyword-prefetch
            query='{
              "type": "lookup",
              "limit": 20,
              "lookupServiceName": "[[lookupServiceName]]",
              [[#if tokenize]]
                "tokenizeLuceneQuery": true,
              [[/if]]
              "entityType": "[[entityType]]"
            }'
          >
         </semantic-search-keyword-prefetch>
          [[> rdsParts:ResultTableForSemanticSearch]]
</semantic-search>

[[/inline]]

[[#*inline "searchByTypeTab"]]
<bs-tab event-key="[[eventKey]]" title="[[tabTitle]]">
	[[> searchByType lookupServiceName=[lookupServiceName] entityType=[entityType] ]]
</bs-tab>
[[/inline]]

[[#*inline "search"]]
<div> 
  <div data-flex-layout="column center-center">
    <div style="width: 100%">
      <h1>Welcome to RDS project ([[label]])</h1>
    </div>

      [[!-- This template is uses next parameters set: 'localSourcesOnly' --]]
      <div style="width: 100%">
      

        <bs-tabs id="type-tabs" class="type-tab" >
          <bs-tab event-key="all" title="All">
            <semantic-search limit=1000>
            <semantic-search-keyword-prefetch
            query='{
              "type": "lookup",
              "limit": 20,
              [[#if tokenize]]
                "tokenizeLuceneQuery": true,
              [[/if]]
              "lookupServiceName": "[[lookupServiceName]]"
            }'>
            </semantic-search-keyword-prefetch>
            [[> rdsParts:ResultTableForSemanticSearch]]
            </semantic-search>
	  </bs-tab>
	  
	  [[> searchByTypeTab eventKey="person" tabTitle="Person" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#Person" ]]	
	  [[> searchByTypeTab eventKey="place" tabTitle="Place" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#Place" ]]
	  [[> searchByTypeTab eventKey="artwork" tabTitle="Artwork" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#Artwork" ]]
	  [[> searchByTypeTab eventKey="bibItem" tabTitle="Bibliographic Item" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#BibliographicItem" ]]
	  [[> searchByTypeTab eventKey="builtWork" tabTitle="Built Work" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#BuiltWork" ]]
	  [[> searchByTypeTab eventKey="group" tabTitle="Group" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#Group" ]]
	  [[> searchByTypeTab eventKey="event" tabTitle="Event" lookupServiceName=[lookupServiceName] entityType="http://schema.swissartresearch.net/ontology/rds#Event" ]]
          
        </bs-tabs>
       
    </div>
  </div>
</div>
[[/inline]]
