<bs-tab event-key="1" title="Books">
  <semantic-link
    iri="[[resolvePrefix "rdsPages:EditBook"]]">
    <button class="btn btn-secondary" style="margin-bottom: 10px">Create book</button>
  </semantic-link>
  <div style="margin-bottom: 25px;">
      <semantic-table
        query='SELECT DISTINCT ?subject (SAMPLE(?authors) as ?author) WHERE {
          ?subject a <http://schema.swissartresearch.net/ontology/rds#BiliographicItem> .
          OPTIONAL {
            ?subject ecrm:P128_carries ?publication_expression .
              ?publication_expression ecrm:P165_incorporates/efrbroo:R17i_was_created_by/ecrm:PC01_is_domain_of ?carried_out_by .
              ?carried_out_by ecrm:PC02_has_range ?authors  ;
                  ecrm:P14.1_in_the_role_of sphRole:author .
          }
        } GROUP BY ?subject'
        number-of-displayed-rows=20
        no-result-template='No Resources found'>
      </semantic-table>
  </div>
</bs-tab>
