[[> Default:ReadMoreButton]]
<style>
  .panel__uri {
    display: flex;
    align-items: center;
  }

  .knowledge-pane__uri-copy-button {
    flex: 0 0 auto;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s;
  }

  .panel__uri:hover .panel__uri-copy-button {
    opacity: 1;
    visibility: visible;
  }

  .panel__uri-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
  <div class="page__header page__header--no-image"  style="display:block; margin-bottom: 40px;">
    <h2><mp-label iri="[[urlParam "resourceIri"]]"></mp-label></h2>
    <div class='panel__uri'>
      <div title='[[urlParam "resourceIri"]]' class='panel__uri-text'>
        <b>URI:</b> [[urlParam "resourceIri"]]
      </div>
      <mp-copy-to-clipboard text='[[urlParam "resourceIri"]]'>
        <button class='btn btn-link btn-sm panel__uri-copy-button'>
          <i class='fa fa-clipboard'></i>
        </button>
      </mp-copy-to-clipboard>
      [[> readMoreOnRdsGlobal_backendTemplate
        resourceIri=(urlParam "resourceIri")
        isWikidata=(urlParam "isWikidata")
      ]]
    </div>
  </div>

  <div class='page__body' >
    <h4>Description</h4>
    <i><mp-description iri="[[urlParam "resourceIri"]]"></mp-description></i>
  </div>
</div>
