[[> "http://rds-pages.swissartresearch.net/editBookFormFields"]]

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

<div class="page">
  <div class='row'>
    <div class="offset-md-4 col-md-4" style="margin-bottom: 100px">
      [[#if edit]]<h2>Edit book</h2>[[else]]<h2>Create new book</h2>[[/if]]
      
      <semantic-form
        [[#if edit]]subject="[[this]]"[[/if]]
        persistence='LDP'
        browser-persistence='false'
        post-action='redirect'
        form-id='books'
        fields='[
          [[> Short_Title]],
          [[> Author]],
          [[> Translator]],

          [[> DOI]],
          [[> Book_Record_Type]],

          [[> Custom_Identifier]],
          [[> Book_Title]],
          
          [[> Book_Type]],
          [[> Book_Material]],
          [[> Language]]
        ]'
        new-subject-template='https://resource.swissartresearch.net/book/{{UUID}}'
      >
        <semantic-form-text-input for="Short_Title"></semantic-form-text-input>
        <semantic-form-text-input for="Book_Title" multiline="true"></semantic-form-text-input>

        [[#> showOnRdsGlobalPersonFor fieldName="Author"]]
          [[#> newSubPerson]]
            <semantic-form-autocomplete-input
              for="Author"
              value-binding-name="subject"
              lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                "limit": 20
              }'
              template='{{> autocompletionTemplate}}'>
              [[> autocompletionTemplate]]
            </semantic-form-autocomplete-input>
          [[/newSubPerson]]
        [[/showOnRdsGlobalPersonFor]]
        
        [[#> showOnRdsGlobalPersonFor fieldName="Translator"]]
          [[#> newSubPerson]]
            <semantic-form-autocomplete-input
              for="Translator"
              value-binding-name="subject"
              lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                "limit": 20
              }'
              template='{{> autocompletionTemplate}}'>
              [[> autocompletionTemplate]] 
            </semantic-form-autocomplete-input>
          [[/newSubPerson]]
        [[/showOnRdsGlobalPersonFor]]

        <semantic-form-text-input for="DOI"></semantic-form-text-input>
        <semantic-form-select-input for="Book_Record_Type"></semantic-form-select-input>

        <semantic-form-text-input for="Custom_Identifier"></semantic-form-text-input>

        <semantic-form-select-input for="Book_Type"></semantic-form-select-input>
        <semantic-form-select-input for="Book_Material"></semantic-form-select-input>
        <semantic-form-select-input for="Language"></semantic-form-select-input>

        <div class="text-right form-submit">
          <button name="submit" class="btn btn-primary btn-md">Save</button>
        </div>
      </semantic-form>
    </div>
  </div>
</div>

[[#*inline "newSubPerson"]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1">
    [[> @partial-block ]]
  </div>
  <div>
    <semantic-link
      iri="[[resolvePrefix "EditPersonForm"]]">
      <button class='btn btn-secondary'>Create new</button>
    </semantic-link>
  </div>
</div>
[[/inline]]

[[#*inline "showOnRdsGlobalPersonFor"]]
[[> Default:ReadMoreButton]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1; min-width: 50%;">
    [[> @partial-block ]]
  </div>
  <div style='padding: 5px'>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <mp-description iri="{{node.value}}"></mp-description>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
  <div>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <semantic-query
                query='SELECT * WHERE { {{node}} a ?type } LIMIT 1'
                template=' '
                no-result-template='{{> readMoreOnRdsGlobal resourceIri=node.value}}'>
                [[> readMoreOnRdsGlobal_frontendTemplate]]
              </semantic-query>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
</div>
[[/inline]]

[[#*inline "cant-edit-workflow"]]
  [[!--
  PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#>
  PREFIX wf_steps: <http://schema.swissartresearch.net/step/>
  ASK { ?workflow workflow:subject ??.
    ?workflow workflow:currentState ?state.
    ?state workflow:step ?step.
    OPTIONAL { ?userGroup foaf:member ?__useruri__ . }

    FILTER(
        (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) &&
          ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview))
    ) || (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>)
    )
    )
  }
  --]]
  [[#if (ask "PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> PREFIX wf_steps: <http://schema.swissartresearch.net/step/> ASK { ?workflow workflow:subject ??. ?workflow workflow:currentState ?state. ?state workflow:step ?step. OPTIONAL { ?userGroup foaf:member ?__useruri__ .} FILTER(((BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) && ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview)) ) || (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>))}")]]  
    false
  [[else]]
    true
  [[/if]]
[[/inline]]

[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> LookupCandidateTemplate]]
</template>
[[/inline]]