[[> "http://rds-pages.swissartresearch.net/editBookFormFields"]]

[[#*inline "dataset-fields"]]
  [[> Short_Title]],
  [[> Author]],
  [[> Translator]],

  [[> DOI]],
  [[> Book_Record_Type]],

  [[> Custom_Identifier]],
  [[> Book_Title]],
  
  [[> Book_Type]],
  [[> Book_Material]],
  [[> Language]]
[[/inline]]

<mp-event-target-template-render id='page-body' template='{{> template}}'>
  <template id='template'>
    {{#if edit}}
      [[> EditBook edit=true]]
      <mp-event-trigger
        id='edit-trigger'
        type='Component.TemplateUpdate'
        data='{}'
        targets='["page-body"]'>
        <button class='btn btn-primary' style="margin: 15px; width: 100px;">View</button>
      </mp-event-trigger>
    {{else}}
      [[> book-view]]
      [[#if (hasPermission "edit:entities")]]
        <mp-event-trigger
          id='edit-trigger'
          type='Component.TemplateUpdate'
          data='{"edit": true}'
          targets='["page-body"]'>
          <button class='btn btn-primary' style="margin: 15px; width: 100px;">Edit</button>
        </mp-event-trigger>
      [[/if]]
    {{/if}}
  </template>
</mp-event-target-template-render>

[[#*inline "book-view"]]
<style>
  .panel__uri {
    display: flex;
    align-items: center;
  }

  .knowledge-pane__uri-copy-button {
    flex: 0 0 auto;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s;
  }

  .panel__uri:hover .panel__uri-copy-button {
    opacity: 1;
    visibility: visible;
  }

  .panel__uri-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page">
  <div class="page__header page__header--no-image" style="display:block; margin-bottom: 40px;">
    <h2><mp-label iri="[[this]]"></mp-label></h2>
    <div class='panel__uri'>
      <div title='[[this]]' class='panel__uri-text'>
        <b>URI:</b> [[this]]
      </div>
      <mp-copy-to-clipboard text='[[this]]'>
        <button class='btn btn-link btn-sm panel__uri-copy-button'>
          <i class='fa fa-clipboard'></i>
        </button>
      </mp-copy-to-clipboard>
    </div>
    <div><b>Description: </b></div>
    <i><mp-description iri="[[this]]"></mp-description></i>
    <div>
      <b>Types: </b>
      <semantic-query
        style='display:inline;'
        query='SELECT ?type WHERE { ?? a ?type}'
        no-result-template='-'>
      </semantic-query>
    </div>
  </div>  
  <div class='page__body' >
    <div data-flex-layout='row top-stretch'>
      <div class='table-responsive'>
        <table class='table'>
          <thead role='header'>
            <tr>
              <th>Field</th>
              <th>Value</th>
            </tr>
          </thead>

            <mp-field-visualization
              subject='[[this]]'
              fields='[
                [[> dataset-fields]]
              ]'
              template='{{> property-table}}'>
              <template id="property-table">
                [[> FieldBasedVisualization]]
              </template>
            </mp-field-visualization>
          </table>
      </div>
    </div>
  </div>
</div>
[[/inline]]