[[> Default:ReadMoreButton]]
<span>
    {{#ifCond field.xsdDatatype.value "==" "http://www.w3.org/2001/XMLSchema#anyURI"}}
      {{log value}}
      {{#if value.label}}
        <semantic-link iri="{{value.value.value}}">{{value.label}}</semantic-link>
      {{else}}
        <semantic-link iri="{{value.value.value}}"></semantic-link>
      {{/if}}
    {{else}}
      {{#if value.label}}
        {{value.label}}
      {{else}}
        {{value.value.value}}
      {{/if}}
    {{/ifCond}}
    {{#if (isIri value.value)}}
        <span style="margin-left: 10px;">
            <semantic-query
                query='SELECT * WHERE { {
                        {{value.value}} a ?type
                    } UNION {
                        ?subject a {{value.value}}
                    }
                } LIMIT 1'
                template=' '
                no-result-template='{{> readMoreOnRdsGlobal resourceIri=value.value.value}}'>
                [[> readMoreOnRdsGlobal_frontendTemplate]]
            </semantic-query>
        </span>
    {{/if}}
</span>