[[> rdsParts:RDSFieldDefinitions]]

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

[[#if (hasPermission "forms:ldp:*")]]
  <div class="page">
    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        [[#if edit]]
          [[> edit-event-form]]
        [[else]]
          {{#if hideSearch}}{{else}}
            [[> search-for-existing]]
          {{/if}}
          {{#if newEvent}}
            [[> edit-event-form]]
          {{/if}}
        [[/if]]
      </template>
    </mp-event-target-template-render>
  </div>
[[/if]]

[[#*inline "search-for-existing"]]
<div class='row' style='max-width: 100%;'>
  <div class="col-md-8 offset-md-2" style="margin-bottom: 20px; margin-top: 100px">
    <h2>Creation of a new event</h2>
    <p>
      Before creating a new event, please type in the name to check if such event already exists on RDS-Global or locally. If you'd like to create an instance of the existing event locally, press the "link" button next to the relevant match in the table below.
    </p>
    <semantic-search limit=1000>
      <div style="margin-bottom: 10px">
        <semantic-search-result-holder>
          <semantic-search-result>
            <semantic-table
              id='table'
              options='{"showFilter": false}' 
              query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
              number-of-displayed-rows=10
              no-result-template='{{> no-event-template}}'
              tuple-template='{{> tuple-template}}'>
              <template id="no-event-template">
                
              </template>
              <template id="tuple-template">
                <div class="text-center">
                  This event already exists, do you still want to create a new event?
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newEvent": true, "hideSearch": true}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Create new event</button>
                  </mp-event-trigger>
                </div>
              </template>
            </semantic-table>
          </semantic-search-result>
        </semantic-search-result-holder>
      </div>
      
      <semantic-search-keyword-prefetch
        query='{ "type": "lookup", "limit": 20, "entityType": "http://schema.swissartresearch.net/ontology/rds#Event", "lookupServiceName": "federated-lookup" }'
        placeholder='Input the name of the event you want to create'>
      </semantic-search-keyword-prefetch>

      <div data-flex-layout="row stretch-stretch" style='margin-top: 20px;'>
        <div style='max-width: 90vw'>
          <semantic-search-result-holder>
            <semantic-search-result>
              <semantic-table
                id='table'
                options='{"showFilter": false}' 
                query='SELECT * WHERE { } ORDER BY DESC(?score)'
                number-of-displayed-rows=10
                no-result-template='No existing events with this name'
                column-configuration='[
                    {"variableName": "subject", "displayName": "Existing events with provided name", "cellTemplate": "{{> link-to-subject}}" },
                    {"variableName": "description", "displayName": "Description" },
                    {"variableName": "type", "displayName": "Type" },
                    {"variableName": "datasetLabel", "displayName": "Dataset", "cellTemplate": "{{> dataset-label}}" },
                    {"variableName": "action", "displayName": "action", "cellTemplate": "{{> create-button}}"  }
                ]'>
                <template id="dataset-label">
                  {{datasetLabel.value}}
                </template>
                <template id="link-to-subject">
                  <semantic-query
                    query='SELECT * WHERE { {{subject}} a ?type }'
                    template='<semantic-link iri={{subject.value}}></semantic-link>'
                    no-result-template='<semantic-link iri="[[resolvePrefix "rdsPages:RemoteResourceVisualisation"]]" urlqueryparam-resource-iri="{{subject.value}}"><mp-label iri="{{subject.value}}"><mp-label></semantic-link>'>
                  </semantic-query>
                </template>
                <template id="create-button">
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newEvent": true, "sameAs": "{{subject.value}}", "hideSearch": true}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Link</button>
                  </mp-event-trigger>
                </template>
              </semantic-table>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>

      <div style="margin: 5px">
        <semantic-search-result-holder>
          <semantic-search-result>
            <semantic-table
              id='table'
              options='{"showFilter": false}' 
              query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
              number-of-displayed-rows=10
              no-result-template='{{> no-event-template}}'
              tuple-template='{{> tuple-template}}'>
              <template id="no-event-template">
                <mp-event-trigger
                  id='event-trigger-de'
                  type='Component.TemplateUpdate'
                  data='{"newEvent": true, "hideSearch": true}'
                  targets='["event-target"]'>
                  <button class='btn btn-primary'>Create new event</button>
                </mp-event-trigger>
              </template>
              <template id="tuple-template">
                
              </template>
            </semantic-table>
          </semantic-search-result>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
  </div>
</div>
[[/inline]]

[[#*inline "edit-event-form"]]
[[#if edit]]
<div class='row'>
  <div class="offset-md-4 col-md-4">
    <mp-workflow-manager
      iris='[[jsonArrayFromSelect "SELECT ?workflow WHERE { ?workflow <http://www.metaphacts.com/ontologies/platform/workflow#subject> ?? . }" ]]'
      definition='http://schema.swissartresearch.net/workflow_definition'
      readonly=[[> cant-edit-workflow]]>
    </mp-workflow-manager>
  </div>
</div>
[[/if]]
<div class='row'>
  <div class="text-center col-md-2">
    <br>
    <font size="+2">
        [[#if edit]]
          Edit <b><mp-label iri='[[this]]'></mp-label></b>
        [[else]]
          Add a new <b>Event</b>
        [[/if]]
    </font>
    <br>
    <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-512.png" width="50%">
  </div>
  <div class="col-md-8" style="margin-bottom: 100px">
    <semantic-form
        id="newEvent"
        new-subject-template='https://resource.swissartresearch.net/event/{{UUID}}'
        [[#if edit]]
          subject='[[this]]'
        [[/if]]
      	browser-persistence=false
      	persistence='ldp'
        form-id='events'
        post-action='event'
        fields='[
        [[> Identifier_Event]],
        [[> Identifier_Provider]],
        [[> Identifier_Source]],
        [[> Identifier_Type]],
        [[> Event_Name]],
        [[> Event_Type]],
        [[> Event_Alternate_Name]],
        [[> Event_Alternate_Name_Value]],
        [[> Event_Alternate_Name_Type]], 
        [[> Event_Alternate_Name_Use_Period_-_earliest]],
        [[> Event_Alternate_Name_Use_Period_-_latest]],
        [[> Event_Description]],
        [[> Event_Description_Value]],
        [[> Event_Description_Type]],
        [[> Event_Description_Author]],
        [[> Event_Description_Date_-_Earliest]],
        [[> Event_Description_Date_-_Latest]],
        [[> Event_Earliest_Possible_Start_Date]],
        [[> Event_Latest_Possible_End_Date]],
        [[> Event_Part_Of]],
        [[> Motivating_Event]],
        [[> Objects_Employed]],
        [[> Documents_Employed]],
        [[> Documents_Created]],
        [[> Event_Place]],
        [[> Event_Place_Name_Value]],
        [[> Event_Place_Type]],
        [[> Event_Place_Coordinates]],
        [[> Event_Actor]],
        [[> Event_Actor_Value]],
        [[> Event_Actor_Type]]
      ]'
    >

      <semantic-form-composite-input 
          for="Identifier_Event"
          new-subject-template="."
          fields='[
        [[> Identifier_Source]],
        [[> Identifier_Type]],
        [[> Identifier_Provider]]
      ]'>
        <semantic-form-text-input for="Identifier_Source"></semantic-form-text-input>

        <semantic-form-text-input for="Identifier_Type"></semantic-form-text-input>

        <semantic-form-text-input for="Identifier_Provider"></semantic-form-text-input>

      </semantic-form-composite-input>
      
      <semantic-form-text-input for="Event_Name" 
                                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
		  </semantic-form-text-input>
      
      <semantic-form-text-input for="Event_Type"></semantic-form-text-input>
      
      <semantic-form-composite-input 
				for="Event_Alternate_Name"
				new-subject-template="."
				fields='[
        [[> Event_Alternate_Name_Value]],
        [[> Event_Alternate_Name_Type]],
        [[> Event_Alternate_Name_Use_Period_-_earliest]],
        [[> Event_Alternate_Name_Use_Period_-_latest]]
			]'>
    		<semantic-form-text-input for="Event_Alternate_Name_Value"
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
     		</semantic-form-text-input>

     		<semantic-form-autocomplete-input for="Event_Alternate_Name_Type"></semantic-form-autocomplete-input>

     		<semantic-form-datetime-input for="Event_Alternate_Name_Use_Period_-_earliest"></semantic-form-datetime-input>

     		<semantic-form-datetime-input for="Event_Alternate_Name_Use_Period_-_latest"></semantic-form-datetime-input>
         
      </semantic-form-composite-input>

      <semantic-form-composite-input 
          for="Event_Description"
          new-subject-template="."
          fields='[
        [[> Event_Description_Value]],
        [[> Event_Description_Type]],
        [[> Event_Description_Author]],
        [[> Event_Description_Date_-_Earliest]],
        [[> Event_Description_Date_-_Latest]]
			]'>
    		<semantic-form-text-input for="Event_Description_Value" multiline='true'
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
     		</semantic-form-text-input>

     		<semantic-form-autocomplete-input for="Event_Description_Type"></semantic-form-autocomplete-input>

        <semantic-form-text-input for="Event_Description_Author"></semantic-form-text-input>

     		<semantic-form-datetime-input for="Event_Description_Date_-_Earliest"></semantic-form-datetime-input>

     		<semantic-form-datetime-input for="Event_Description_Date_-_Latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>
            
      <semantic-form-autocomplete-input for="Event_Part_Of"></semantic-form-autocomplete-input>
      
      <semantic-form-autocomplete-input for="Motivating_Event"></semantic-form-autocomplete-input>

      <semantic-form-datetime-input for="Event_Earliest_Possible_Start_Date"></semantic-form-datetime-input>
      
      <semantic-form-datetime-input for="Event_Latest_Possible_End_Date"></semantic-form-datetime-input>

      <semantic-form-composite-input 
          for="Event_Actor"
          new-subject-template="."
          fields='[ 
        [[> Event_Actor_Value]],
        [[> Event_Actor_Type]]
			]'>
    		<semantic-form-text-input for="Event_Actor_Value"></semantic-form-text-input>

        <semantic-form-text-input for="Event_Actor_Type"></semantic-form-text-input>

      </semantic-form-composite-input>
      
      <semantic-form-text-input for="Objects_Employed"></semantic-form-text-input>
      
      <semantic-form-text-input for="Documents_Employed"></semantic-form-text-input>
      
      <semantic-form-text-input for="Documents_Created"></semantic-form-text-input>
      
      <semantic-form-composite-input 
				for="Event_Place"
				new-subject-template="."
				fields='[
        [[> Event_Place_Name_Value]],
        [[> Event_Alternate_Name_Type]],
        [[> Event_Place_Type]],
        [[> Event_Place_Coordinates]]
			]'>
        <semantic-form-text-input for="Event_Place_Name_Value"></semantic-form-text-input>

        <semantic-form-text-input for="Event_Place_Type"></semantic-form-text-input>

        <semantic-form-text-input for="Event_Place_Coordinates"></semantic-form-text-input>
        
      </semantic-form-composite-input>
          
      <!-- save and reset button for form -->
      <button name='submit' class='btn btn-secondary'>Save</button>
      <button name='reset' class='btn btn-secondary'>Reset</button>
    </semantic-form>

    <mp-workflow-create id='source-workflow'
      new-subject-template='http://schema.swissartresearch.net/workflow-source-{{UUID}}'
      definition='http://schema.swissartresearch.net/workflow_definition'
      first-step='http://schema.swissartresearch.net/step/inProgress'
      assignee_disabled='[[jsonValueFromSelect "SELECT ?assignee WHERE { BIND (?__useruri__ as ?assignee) }"]]'
      use-event-system=true>
    </mp-workflow-create>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceCreated'
      proxy-event-type='Workflow.Create'
      proxy-targets='["source-workflow"]'>
    </mp-event-proxy>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceUpdated'
      proxy-event-type='Component.TemplateUpdate'
      proxy-targets='["event-target"]'
      data='{"updated": true}'>
    </mp-event-proxy>

    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        {{#if updated}}
        <bs-alert variant="info">
          Resource has been updated.
        </bs-alert>
        {{/if}}
      </template>
    </mp-event-target-template-render>

    <mp-event-proxy id='workflow-proxy'
      on-event-type='Workflow.SubjectGetInWorkflow'
      proxy-event-type='RedirectAction.perform'
      proxy-targets='["redirect-to-resource"]'>
    </mp-event-proxy>

    <mp-event-target-redirect
      id='redirect-to-resource'
      action='redirect'>
    </mp-event-target-redirect>
  </div>
</div>
[[/inline]]

[[#*inline "newSubEvent"]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1">
    [[> @partial-block ]]
  </div>
  <div>
    <semantic-link
      iri="[[resolvePrefix "rdsPages:NewEvent"]]"
      target="_blank">
      <button class='btn btn-secondary'>Create new</button>
    </semantic-link>
  </div>
</div>
[[/inline]]

[[#*inline "cant-edit-workflow"]]
  [[!--
  PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#>
  PREFIX wf_steps: <http://schema.swissartresearch.net/step/>
  ASK { ?workflow workflow:subject ??.
    ?workflow workflow:currentState ?state.
    ?state workflow:step ?step.
    OPTIONAL { ?userGroup foaf:member ?__useruri__ . }

    FILTER(
        (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) &&
          ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview))
    ) || (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>)
    )
    )
  }
  --]]
  [[#if (ask "PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> PREFIX wf_steps: <http://schema.swissartresearch.net/step/> ASK { ?workflow workflow:subject ??. ?workflow workflow:currentState ?state. ?state workflow:step ?step. OPTIONAL { ?userGroup foaf:member ?__useruri__ .} FILTER(((BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) && ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview)) ) || (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>))}")]]  
    false
  [[else]]
    true
  [[/if]]
[[/inline]]

[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> rdsParts:LookupCandidateTemplate]]
</template>
[[/inline]]

[[#*inline "showOnRdsGlobalEventFor"]]
[[> rdsParts:ReadMoreButton]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1; min-width: 50%;">
    [[> @partial-block ]]
  </div>
  <div style='padding: 5px'>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <mp-description iri="{{node.value}}"></mp-description>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
  <div>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <semantic-query
                query='SELECT * WHERE { {{node}} a ?type } LIMIT 1'
                template=' '
                no-result-template='{{> readMoreOnRdsGlobal resourceIri=node.value}}'>
                [[> readMoreOnRdsGlobal_frontendTemplate]]
              </semantic-query>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
</div>
[[/inline]]