[[> rdsParts:RDSFieldDefinitions]]

[[#if edit]]
[[else]]
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>
[[/if]]
[[#if (hasPermission "forms:ldp:*")]]
  <div class="page">
    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        [[#if edit]]
          [[> edit-person-form]]
        [[else]]
          {{#if hideSearch}}{{else}}
            [[> search-for-existing]]
          {{/if}}
          {{#if newPerson}}
            [[> edit-person-form]]
          {{/if}}
        [[/if]]
      </template>
    </mp-event-target-template-render>
  </div>
[[/if]]

[[#*inline "search-for-existing"]]
<div class='row' style='max-width: 100%;'>
  <div class="col-md-8 offset-md-2" style="margin-bottom: 20px; margin-top: 100px">
    <h2>Creation of a new person</h2>
    <p>
      Before creating a new person, please type in the name to check if such person already exists on RDS-Global or locally. If you'd like to create an instance of the existing person locally, press the "link" button next to the relevant match in the table below.
    </p>
    <semantic-search limit=1000>
      <div style="margin-bottom: 10px">
        <semantic-search-result-holder>
          <semantic-search-result>
            <semantic-table
              id='table'
              options='{"showFilter": false}' 
              query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
              number-of-displayed-rows=10
              no-result-template='{{> no-person-template}}'
              tuple-template='{{> tuple-template}}'>
              <template id="no-person-template">
                
              </template>
              <template id="tuple-template">
                <div class="text-center">
                  This person already exists, do you still want to create a new person?
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newPerson": true, "hideSearch": true}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Create new person</button>
                  </mp-event-trigger>
                </div>
              </template>
            </semantic-table>
          </semantic-search-result>
        </semantic-search-result-holder>
      </div>
      
      <semantic-search-keyword-prefetch
        query='{ "type": "lookup", "limit": 20, "entityType": "http://schema.swissartresearch.net/ontology/rds#Person", "lookupServiceName": "federated-lookup" }'
        placeholder='Input the name of the person you want to create'>
      </semantic-search-keyword-prefetch>

      <div data-flex-layout="row stretch-stretch" style='margin-top: 20px;'>
        <div style='max-width: 90vw'>
          <semantic-search-result-holder>
            <semantic-search-result>
              <semantic-table
                id='table'
                options='{"showFilter": false}' 
                query='SELECT * WHERE { } ORDER BY DESC(?score)'
                number-of-displayed-rows=10
                no-result-template='No existing people with this name'
                column-configuration='[
                    {"variableName": "subject", "displayName": "Existing people with provided name", "cellTemplate": "{{> link-to-subject}}" },
                    {"variableName": "description", "displayName": "Description" },
                    {"variableName": "type", "displayName": "Type" },
                    {"variableName": "datasetLabel", "displayName": "Dataset", "cellTemplate": "{{> dataset-label}}" },
                    {"variableName": "action", "displayName": "action", "cellTemplate": "{{> create-button}}"  }
                ]'>
                <template id="dataset-label">
                  {{datasetLabel.value}}
                </template>
                <template id="link-to-subject">
                  <semantic-query
                    query='SELECT * WHERE { {{subject}} a ?type }'
                    template='<semantic-link iri={{subject.value}}></semantic-link>'
                    no-result-template='<semantic-link iri="[[resolvePrefix "rdsPages:RemoteResourceVisualisation"]]" urlqueryparam-resource-iri="{{subject.value}}"><mp-label iri="{{subject.value}}"><mp-label></semantic-link>'>
                  </semantic-query>
                </template>
                <template id="create-button">
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newPerson": true, "sameAs": "{{subject.value}}", "hideSearch": true}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Link</button>
                  </mp-event-trigger>
                </template>
              </semantic-table>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>

      <div style="margin: 5px">
        <semantic-search-result-holder>
          <semantic-search-result>
            <semantic-table
              id='table'
              options='{"showFilter": false}' 
              query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
              number-of-displayed-rows=10
              no-result-template='{{> no-person-template}}'
              tuple-template='{{> tuple-template}}'>
              <template id="no-person-template">
                <mp-event-trigger
                  id='event-trigger-de'
                  type='Component.TemplateUpdate'
                  data='{"newPerson": true, "hideSearch": true}'
                  targets='["event-target"]'>
                  <button class='btn btn-primary'>Create new person</button>
                </mp-event-trigger>
              </template>
              <template id="tuple-template">
                
              </template>
            </semantic-table>
          </semantic-search-result>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
  </div>
</div>
[[/inline]]

[[#*inline "edit-person-form"]]
[[#if edit]]
<div class='row'>
  <div class="offset-md-4 col-md-4">
    <mp-workflow-manager
      iris='[[jsonArrayFromSelect "SELECT ?workflow WHERE { ?workflow <http://www.metaphacts.com/ontologies/platform/workflow#subject> ?? . }" ]]'
      definition='http://schema.swissartresearch.net/workflow_definition'
      readonly=[[> cant-edit-workflow]]>
    </mp-workflow-manager>
  </div>
</div>
[[/if]]
<div class='row'>
  <div class="text-center col-md-2">
    <br>
    <font size="+2">
        [[#if edit]]
          Edit <b><mp-label iri='[[this]]'></mp-label></b>
        [[else]]
          Add a new <b>Person</b>
        [[/if]]
    </font>
    <br>
    <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-512.png" width="50%">
  </div>
  <div class="col-md-8" style="margin-bottom: 100px">
    <semantic-form
        id="newPerson"
        [[#if edit]]
          subject='[[this]]'
        [[else]]
          new-subject-template='https://resource.swissartresearch.net/person/{{UUID}}'
          browser-persistence=false
        [[/if]]
        persistence='ldp'
        form-id='persons'
        post-action='event'            
        fields='[
          [[> SameAs ]],
          [[> Type-hidden ]],
          [[> Identifier ]],
          [[> Person_Name ]],
          [[> Person_Gender ]],
          [[> Person_Alternate_Name ]],
          [[> Person_Birth ]],
          [[> Person_Death_Place ]],
          [[> Person_Father ]],
          [[> Person_Mother ]],
          [[> National_Affiliation ]],
          [[> Cultural_Affiliation ]],
          [[> Person_Social_Relations ]],
          [[> Institutional_Affiliation ]],
          [[> Associate-input ]],
          [[> Languages_Used ]],
          [[> Floruit ]],
          [[> Citation ]],
          [[> Short_Biography ]]
    ]'>
      <semantic-form-hidden-input for="Type-hidden" default-value="http://www.cidoc-crm.org/cidoc-crm/E21_Person"></semantic-form-hidden-input>
      [[#> showOnRdsGlobalPersonFor fieldName="SameAs"]]
        {{#if sameAs}}
          <semantic-form-autocomplete-input
            for="SameAs"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
              "limit": 20,
              "lookupServiceName": "federated-lookup"
            }'
            template='{{> autocompletionTemplate}}'
            default-value='{{sameAs}}'>
            [[> autocompletionTemplate]]
          </semantic-form-autocomplete-input>
        {{else}}
          <semantic-form-autocomplete-input
            for="SameAs"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
              "limit": 20,
              "lookupServiceName": "federated-lookup"
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
          </semantic-form-autocomplete-input>
        {{/if}}
      [[/showOnRdsGlobalPersonFor]]

      <semantic-form-composite-input
          for="Identifier"
          new-subject-template='/identifier/{{Identifier_Value}}'
          fields='[
            [[> Identifier_Source ]],
            [[> Identifier_Type ]],
            [[> Identifier_Provider ]],
            [[> Identifier_Value ]]
      ]'>
        <semantic-form-text-input for="Identifier_Value"></semantic-form-text-input>
        <semantic-form-text-input for="Identifier_Provider"></semantic-form-text-input>
        <semantic-form-text-input for="Identifier_Type"></semantic-form-text-input>
        <semantic-form-text-input for="Identifier_Source"></semantic-form-text-input>
      </semantic-form-composite-input>

      <semantic-form-composite-input 
          for="Person_Name"
          new-subject-template="/appellation/{{Person_Name-Value}}"
          fields='[
        [[> Person_Name-Value ]],
        [[> Person_Name_Part ]]
      ]'>
        <semantic-form-text-input for="Person_Name-Value"
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-text-input for="Person_Name_Part"></semantic-form-text-input>
      </semantic-form-composite-input>

      <semantic-form-select-input for="Person_Gender"></semantic-form-select-input>
      
      <semantic-form-composite-input 
          for="Person_Alternate_Name"
          new-subject-template="/appellation/{{Person_Alternate_Name_Value}}"
          fields='[
            [[> Person_Alternate_Name_Value ]],
            [[> Person_Alternate_Name_Type ]],
            [[> Alternate_Name_Use_Period_earliest ]],
            [[> Alternate_Name_Use_Period_latest ]],
            [[> Alternate_Name_Attributed_by ]],
            [[> Alternative_Name_-_Source ]]
      ]'>
        <semantic-form-text-input for="Person_Alternate_Name_Value"
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-text-input for="Person_Alternate_Name_Type"'></semantic-form-text-input>

        <semantic-form-datetime-input for="Alternate_Name_Use_Period_earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Alternate_Name_Use_Period_latest"></semantic-form-datetime-input>

        <semantic-form-text-input for="Alternate_Name_Attributed_by"></semantic-form-text-input>

        <semantic-form-text-input for="Alternative_Name_-_Source"></semantic-form-text-input>

      </semantic-form-composite-input>
      <semantic-form-composite-input 
          for="Person_Birth"
          new-subject-template="/birth"
          fields='[
            [[> Birth_Place ]],
            [[> Person_Birth_Date_earliest ]],
            [[> Person_Birth_Date_latest ]]
      ]'>
        <semantic-form-autocomplete-input for='Birth_Place'
            value-binding-name="subject"
            lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Place",
                "limit": 20
                }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
        </semantic-form-autocomplete-input>

        <semantic-form-datetime-input for="Person_Birth_Date_earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Person_Birth_Date_latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>

      <semantic-form-composite-input 
          for="Person_Death_Place"
          new-subject-template="/death"
          fields='[
          [[> Death_Place ]],
          [[> Death_Date_Earliest ]],
          [[> Death_Date_Latest ]]
      ]'>
      
        <semantic-form-autocomplete-input for='Death_Place'
            value-binding-name="subject"
            lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Place",
                "limit": 20
                }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
        </semantic-form-autocomplete-input>
      
        <semantic-form-datetime-input for="Death_Date_Earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Death_Date_Latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>

      [[#> showOnRdsGlobalPersonFor fieldName="Person_Father"]]
        [[#> newSubPerson]]
          <semantic-form-autocomplete-input
            for="Person_Father"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
              "limit": 20,
              "lookupServiceName": "federated-lookup"
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
            
          </semantic-form-autocomplete-input>
        [[/newSubPerson]]
      [[/showOnRdsGlobalPersonFor]]

      [[#> showOnRdsGlobalPersonFor fieldName="Person_Mother"]]
        [[#> newSubPerson]]
          <semantic-form-autocomplete-input
            for="Person_Mother"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
              "limit": 20,
              "lookupServiceName": "federated-lookup"
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
            
          </semantic-form-autocomplete-input>
        [[/newSubPerson]]
      [[/showOnRdsGlobalPersonFor]]

      <semantic-form-text-input for="National_Affiliation"></semantic-form-text-input>
      <semantic-form-text-input for="Cultural_Affiliation"></semantic-form-text-input>

      <semantic-form-composite-input 
          for="Person_Social_Relations"
          new-subject-template="/relation/{{Person_Social_Relations_-_Relation}}"
          fields='[
          [[> Person_Social_Relations_-_Relation ]],
          [[> Person_Social_Relations_-_Relation_Type ]]
      ]'>
        [[#> showOnRdsGlobalPersonFor fieldName="Person_Social_Relations_-_Relation"]]
          [[#> newSubPerson]]
            <semantic-form-autocomplete-input
              for="Person_Social_Relations_-_Relation"
              value-binding-name="subject"
              lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                "limit": 20,
                "lookupServiceName": "federated-lookup"
              }'
              template='{{> autocompletionTemplate}}'>
              [[> autocompletionTemplate]]
              
            </semantic-form-autocomplete-input>
          [[/newSubPerson]]
        [[/showOnRdsGlobalPersonFor]]
        <semantic-form-text-input for="Person_Social_Relations_-_Relation_Type"></semantic-form-text-input>
      </semantic-form-composite-input>

      <semantic-form-composite-input
          for="Institutional_Affiliation"
          new-subject-template="/joining/{{Person_Institutional_Affiliation_Value}}"
          fields='[
          [[> Person_Institutional_Affiliation_Value ]],
          [[> Person_Institutional_Affiliation_Role ]],
          [[> Person_Institutional_Affiliation_Start_Date_Earliest ]],
          [[> Person_Institutional_Affiliation_Start_Date_Latest ]]
      ]'>
        <semantic-form-text-input for="Person_Institutional_Affiliation_Value"></semantic-form-text-input>

        <semantic-form-text-input for="Person_Institutional_Affiliation_Role"></semantic-form-text-input>

        <semantic-form-datetime-input for="Person_Institutional_Affiliation_Start_Date_Earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Person_Institutional_Affiliation_Start_Date_Latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>

      [[#> showOnRdsGlobalPersonFor fieldName="Associate"]]
        [[#> newSubPerson]]
          <semantic-form-autocomplete-input
            for="Associate-input"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
              "limit": 20,
              "lookupServiceName": "federated-lookup"
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
            
          </semantic-form-autocomplete-input>
        [[/newSubPerson]]
      [[/showOnRdsGlobalPersonFor]]

      <semantic-form-composite-input 
          for="Floruit"
          new-subject-template="/floruit/{{UUID}}"
          fields='[
          [[> Floruit_Place ]],
          [[> Floruit_Date_earliest ]],
          [[> Floruit_Date_latest ]],
          [[> Educational_Training ]]
      ]'> 
        <semantic-form-autocomplete-input
          for="Floruit_Place"
          value-binding-name="subject"
          lookup-query='{
            "type": "lookup",
            "entityType": "http://schema.swissartresearch.net/ontology/rds#Place",
            "limit": 10,
            "lookupServiceName": "federated-lookup"
          }'
          template='{{> autocompletionTemplate}}'>
          [[> autocompletionTemplate]]
          
        </semantic-form-autocomplete-input>

        <semantic-form-datetime-input for="Floruit_Date_earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Floruit_Date_latest"></semantic-form-datetime-input>

        <semantic-form-text-input for="Educational_Training"></semantic-form-text-input>

      </semantic-form-composite-input>

      <semantic-form-select-input for="Languages_Used"></semantic-form-select-input>

      <semantic-form-composite-input 
          for="Citation"
          new-subject-template="/citation/{{Citation_Value}}"
          fields='[
        [[> Citation_Value ]],
        [[> Citation_Source ]]
      ]'>
        <semantic-form-text-input for="Citation_Value"></semantic-form-text-input>

        <semantic-form-text-input for="Citation_Source"></semantic-form-text-input>
      </semantic-form-composite-input>

      <semantic-form-text-input for="Short_Biography"
                                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'
                                multiline=true>
      </semantic-form-text-input>
      
      <semantic-form-errors></semantic-form-errors>
      <!-- save and reset button for form -->
      <button name='submit' class='btn btn-secondary'>Save</button>
      <button name='reset' class='btn btn-secondary'>Reset</button>
    </semantic-form>

    <mp-workflow-create id='source-workflow'
      new-subject-template='http://schema.swissartresearch.net/workflow-source-{{UUID}}'
      definition='http://schema.swissartresearch.net/workflow_definition'
      first-step='http://schema.swissartresearch.net/step/inProgress'
      assignee_disabled='[[jsonValueFromSelect "SELECT ?assignee WHERE { BIND (?__useruri__ as ?assignee) }"]]'
      use-event-system=true>
    </mp-workflow-create>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceCreated'
      proxy-event-type='Workflow.Create'
      proxy-targets='["source-workflow"]'>
    </mp-event-proxy>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceUpdated'
      proxy-event-type='Component.TemplateUpdate'
      proxy-targets='["event-target"]'
      data='{"updated": true}'>
    </mp-event-proxy>

    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        {{#if updated}}
        <bs-alert variant="info">
          Resource has been updated.
        </bs-alert>
        {{/if}}
      </template>
    </mp-event-target-template-render>

    <mp-event-proxy id='workflow-proxy'
      on-event-type='Workflow.SubjectGetInWorkflow'
      proxy-event-type='RedirectAction.perform'
      proxy-targets='["redirect-to-resource"]'>
    </mp-event-proxy>

    <mp-event-target-redirect
      id='redirect-to-resource'
      action='redirect'>
    </mp-event-target-redirect>
  </div>
</div>
[[/inline]]

[[#*inline "newSubPerson"]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1">
    [[> @partial-block ]]
  </div>
  <div>
    <semantic-link
      iri="[[resolvePrefix "rdsPages:NewPerson"]]"
      target="_blank">
      <button class='btn btn-secondary'>Create new</button>
    </semantic-link>
  </div>
</div>
[[/inline]]

[[#*inline "cant-edit-workflow"]]
  [[!--
  PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#>
  PREFIX wf_steps: <http://schema.swissartresearch.net/step/>
  ASK { ?workflow workflow:subject ??.
    ?workflow workflow:currentState ?state.
    ?state workflow:step ?step.
    OPTIONAL { ?userGroup foaf:member ?__useruri__ . }

    FILTER(
        (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) &&
          ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview))
    ) || (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>)
    )
    )
  }
  --]]
  [[#if (ask "PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> PREFIX wf_steps: <http://schema.swissartresearch.net/step/> ASK { ?workflow workflow:subject ??. ?workflow workflow:currentState ?state. ?state workflow:step ?step. OPTIONAL { ?userGroup foaf:member ?__useruri__ .} FILTER(((BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) && ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview)) ) || (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>))}")]]  
    false
  [[else]]
    true
  [[/if]]
[[/inline]]

[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> rdsParts:LookupCandidateTemplate]]
</template>
[[/inline]]

[[#*inline "showOnRdsGlobalPersonFor"]]
[[> rdsParts:ReadMoreButton]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1; min-width: 50%;">
    [[> @partial-block ]]
  </div>
  <div style='padding: 5px'>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <mp-description iri="{{node.value}}"></mp-description>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
  <div>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <semantic-query
                query='SELECT * WHERE { {{node}} a ?type } LIMIT 1'
                template=' '
                no-result-template='{{> readMoreOnRdsGlobal resourceIri=node.value}}'>
                [[> readMoreOnRdsGlobal_frontendTemplate]]
              </semantic-query>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
</div>
[[/inline]]