[[#*inline "rdsGlobalUrlTemplate"]]
  https://rds-qa.swissartresearch.net/resource?uri=
[[/inline]]

[[#*inline "readMoreOnRdsGlobal_frontendTemplate"]]

[[!-- you should provide '{{resourceIri}}' to this template to be able to render redirectLink correctly,{{isWikidata}} flag can be provided as well --]]
<template id="readMoreOnRdsGlobal">
  <button class="btn btn-secondary" style="width: 175px;">
    {{#ifCond isWikidata "==" "true"}}
      <a href="[[> rdsGlobalUrlTemplate]]{{encodeUriComponent resourceIri}}&repository=wikidata-lookup">Read more on RDS Global</a>
    {{else}}
      <a href="[[> rdsGlobalUrlTemplate]]{{encodeUriComponent resourceIri}}">Read more on RDS Global</a>
    {{/ifCond}}
  </button>
</template>

[[/inline]]

[[#*inline "readMoreOnRdsGlobal_backendTemplate"]]
  [[!-- you should provide '[[resourceIri]]' to this template to be able to render redirectLink correctly, isWikidata=true flag can be provided as well --]]
  <semantic-query
    query='SELECT ?isWikidata WHERE {
      BIND("[[#if isWikidata]][[isWikidata]][[else]]false[[/if]]" as ?isWikidata)
    }'
    template='{{> readMoreOnRdsGlobal
      resourceIri="[[resourceIri]]"
      isWikidata=bindings.0.isWikidata.value
    }}'>
    [[> readMoreOnRdsGlobal_frontendTemplate]]
  </semantic-query>
[[/inline]]