[[#if edit]]
[[else]]
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>
[[/if]]
[[#if (hasPermission "forms:ldp:*")]]
  <div class="page">
    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        [[#if edit]]
          [[> edit-person-form]]
        [[else]]
          {{#if hideSearch}}{{else}}
            [[> search-for-existing]]
          {{/if}}
          {{#if newPerson}}
            [[> edit-person-form]]
          {{/if}}
        [[/if]]
      </template>
    </mp-event-target-template-render>
  </div>
[[/if]]

[[#*inline "search-for-existing"]]
<div class='row' style='max-width: 100%;'>
  <div class="col-md-8 offset-md-2" style="margin-bottom: 20px; margin-top: 100px">
    <h2>Creation of a new person</h2>
    <p>
      Before creating a new person, please type in the name to check if such person already exists on RDF-Global or locally. If you'd like to create an instance of the existing person locally, press the "link" button next to the relevant match in the table below.
    </p>
    <semantic-search limit=1000>
      <div style="margin-bottom: 10px">
        <semantic-search-result-holder>
          <semantic-search-result>
            <semantic-table
              id='table'
              options='{"showFilter": false}' 
              query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
              number-of-displayed-rows=10
              no-result-template='{{> no-person-template}}'
              tuple-template='{{> tuple-template}}'>
              <template id="no-person-template">
                
              </template>
              <template id="tuple-template">
                <div class="text-center">
                  This person already exists, do you still want to create a new person?
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newPerson": true, "hideSearch": true}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Create new person</button>
                  </mp-event-trigger>
                </div>
              </template>
            </semantic-table>
          </semantic-search-result>
        </semantic-search-result-holder>
      </div>
      
      <semantic-search-keyword-prefetch
        query='{ "type": "lookup", "limit": 20, "entityType": "http://schema.swissartresearch.net/ontology/rds#Person", "lookupServiceName": "federated-lookup" }'
        placeholder='Input the name of the person you want to create'>
      </semantic-search-keyword-prefetch>

      <div data-flex-layout="row stretch-stretch" style='margin-top: 20px;'>
        <div style='max-width: 90vw'>
          <semantic-search-result-holder>
            <semantic-search-result>
              <semantic-table
                id='table'
                options='{"showFilter": false}' 
                query='SELECT * WHERE { } ORDER BY DESC(?score)'
                number-of-displayed-rows=10
                no-result-template='No existing people with this name'
                column-configuration='[
                    {"variableName": "subject", "displayName": "Existing people with provided name", "cellTemplate": "{{> link-to-subject}}" },
                    {"variableName": "description", "displayName": "Description" },
                    {"variableName": "type", "displayName": "Type" },
                    {"variableName": "datasetLabel", "displayName": "Dataset", "cellTemplate": "{{> dataset-label}}" },
                    {"variableName": "action", "displayName": "action", "cellTemplate": "{{> create-button}}"  }
                ]'>
                <template id="dataset-label">
                  {{datasetLabel.value}}
                </template>
                <template id="link-to-subject">
                  <semantic-query
                    query='SELECT * WHERE { {{subject}} a ?type }'
                    template='<semantic-link iri={{subject.value}}></semantic-link>'
                    no-result-template='<semantic-link iri="[[resolvePrefix "rdsPages:RemoteResourceVisualisation"]]" urlqueryparam-resource-iri="{{subject.value}}"><mp-label iri="{{subject.value}}"><mp-label></semantic-link>'>
                  </semantic-query>
                </template>
                <template id="create-button">
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newPerson": true, "sameAs": "{{subject.value}}", "hideSearch": true}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Link</button>
                  </mp-event-trigger>
                </template>
              </semantic-table>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>

      <div style="margin: 5px">
        <semantic-search-result-holder>
          <semantic-search-result>
            <semantic-table
              id='table'
              options='{"showFilter": false}' 
              query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
              number-of-displayed-rows=10
              no-result-template='{{> no-person-template}}'
              tuple-template='{{> tuple-template}}'>
              <template id="no-person-template">
                <mp-event-trigger
                  id='event-trigger-de'
                  type='Component.TemplateUpdate'
                  data='{"newPerson": true, "hideSearch": true}'
                  targets='["event-target"]'>
                  <button class='btn btn-primary'>Create new person</button>
                </mp-event-trigger>
              </template>
              <template id="tuple-template">
                
              </template>
            </semantic-table>
          </semantic-search-result>
        </semantic-search-result-holder>
      </div>
    </semantic-search>
  </div>
</div>
[[/inline]]

[[#*inline "edit-person-form"]]
[[#if edit]]
<div class='row'>
  <div class="offset-md-4 col-md-4">
    <mp-workflow-manager
      iris='[[jsonArrayFromSelect "SELECT ?workflow WHERE { ?workflow <http://www.metaphacts.com/ontologies/platform/workflow#subject> ?? . }" ]]'
      definition='http://schema.swissartresearch.net/workflow_definition'
      readonly=[[> cant-edit-workflow]]>
    </mp-workflow-manager>
  </div>
</div>
[[/if]]
<div class='row'>
  <div class="text-center col-md-2">
    <br>
    <font size="+2">
        [[#if edit]]
          Edit <b><mp-label iri='[[this]]'></mp-label></b>
        [[else]]
          Add a new <b>Person</b>
        [[/if]]
    </font>
    <br>
    <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-512.png" width="50%">
  </div>
  <div class="col-md-8" style="margin-bottom: 100px">
    <semantic-form
        id="newPerson"
        [[#if edit]]
          subject='[[this]]'
          persistence='sparql'
        [[else]]
          new-subject-template='https://resource.swissartresearch.net/person/{{UUID}}'
          browser-persistence=false
      	  persistence='ldp'
        [[/if]]
        form-id='persons'
        post-action='event'            
        fields='[[  fieldDefinitions
                    Rds_Person_Name="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Name"
                    Mph_Person_Name="http://www.metaphacts.com/fieldDefinition/Person_Name"
                    Mph_Name="http://www.metaphacts.com/fieldDefinition/Name"
                    Mph_Person_Alternate_Name="http://www.metaphacts.com/fieldDefinition/Person_Alternate_Name"
                    Rds_dev_Person_Alternate_Name_Value="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Value"
                    Rds_dev_Person_Alternate_Name_Type="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Type"
                    Mph_Occupation="http://www.metaphacts.com/fieldDefinition/Occupation"
                    Rds_dev_Identifier_Source="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source"
                    Rds_dev_Alternate_Name_Use_Period_earliest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Alternate_Name_Use_Period_earliest"
                    Rds_dev_Alternate_Name_Use_Period_latest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Alternate_Name_Use_Period_latest"
                    Rds_dev_Person_Gender="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Gender"
                    Mph_Person_Birth_Place="http://www.metaphacts.com/fieldDefinition/Person_Birth_Place"
                    Mph_Birth_Place="http://www.metaphacts.com/fieldDefinition/Birth_Place"
                    Rds_dev_Person_Birth_Date_earliest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Birth_Date_earliest"
                    Rds_dev_Person_Birth_Date_latest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Birth_Date_latest"
                    Mph_Person_Death_Place="http://www.metaphacts.com/fieldDefinition/Person_Death_Place"
                    Rds_dev_Death_Place="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Place"
                    Rds_dev_Death_Date_Latest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Date_Latest"
                    Rds_dev_National_Affiliation="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/National_Affiliation"
                    Rds_dev_Institutional_Affiliation="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Institutional_Affiliation"
                    Rds_Person_Institutional_Affiliation_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Value"
                    Rds_Person_Institutional_Affiliation_Role="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Role"
                    Rds_Person_Institutional_Affiliation_Start_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Start_Date_Earliest"
                    Rds_Person_Institutional_Affiliation_Start_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Start_Date_Latest"
                    Rds_dev_Floruit="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Floruit"
                    Rds_dev_Biography="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Biography"
                    Rds_dev_Occupation_General_Role="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Occupation_General_Role"
                    Mph_Identifier="http://www.metaphacts.com/fieldDefinition/Identifier"
                    Mph_Biography_Language="http://www.metaphacts.com/fieldDefinition/Biography_Language"
                    Mph_Short_Biography="http://www.metaphacts.com/fieldDefinition/Short_Biography"
                    Mph_Long_Biography="http://www.metaphacts.com/fieldDefinition/Long_Biography"
                    Mph_Person_GND_URL="http://www.metaphacts.com/fieldDefinition/Person_GND_URL"
                    Mph_Person_Wikidata_URL="http://www.metaphacts.com/fieldDefinition/Person_Wikidata_URL"
                    Mph_Person_ULAN_URL="http://www.metaphacts.com/fieldDefinition/Person_ULAN_URL"
                    Mph_Floruit_Place="http://www.researchspace.org/instances/fields/Floruit_Place"
                    Mph_Floruit_Date_earliest="http://www.metaphacts.com/fieldDefinition/Floruit_Date_earliest"
                    Mph_Floruit_Date_latest="http://www.researchspace.org/instances/fields/Floruit_Date_latest"
                    Mph_Person_Name_Honorific="http://www.metaphacts.com/fieldDefinition/Person_Name_Honorific"
                    Rds_Person_Father="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Father"
                    Rds_Person_Mother="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Mother"
                    Social_Relations="http://www.metaphacts.com/fieldDefinition/Social_Relations"
                    Rds_Person_Social_Relations="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations"
                    Rds_Person_Social_Relations_-_Relation="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations_-_Relation"
                    Rds_Person_Social_Relations_-_Relation_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations_-_Relation_Type"
    ]]'>

      <semantic-form-composite-input 
          for="Rds_Person_Name"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Mph_Person_Name="http://www.metaphacts.com/fieldDefinition/Person_Name"
                    Rds_Person_Name_Part="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Name_Part"
      ]]'>
        <semantic-form-text-input for="Mph_Person_Name"
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-text-input for="Rds_Person_Name_Part"></semantic-form-text-input>
      </semantic-form-composite-input>  


      <semantic-form-composite-input 
          for="Mph_Identifier"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Rds_dev_Identifier_Source="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Source"
                    Rds_Identifier_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Type"
                    Mph_Identifier_Provider="http://www.metaphacts.com/fieldDefinition/Identifier_Provider"
                    Rds_Identifier_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Identifier_Value"
      ]]'>
        <semantic-form-text-input for="Rds_Identifier_Value"></semantic-form-text-input>
        <semantic-form-text-input for="Rds_dev_Identifier_Source"></semantic-form-text-input>
        <semantic-form-text-input for="Rds_Identifier_Type"></semantic-form-text-input>
        <semantic-form-text-input for="Mph_Identifier_Provider"></semantic-form-text-input>
      </semantic-form-composite-input>  

      <semantic-form-text-input for="Mph_Person_Name_Honorific"
                                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
      </semantic-form-text-input>
      
      <semantic-form-composite-input 
          for="Mph_Person_Alternate_Name"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Rds_dev_Person_Alternate_Name_Value="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Value"
                    Rds_dev_Person_Alternate_Name_Type="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Alternate_Name_Type"
                    Rds_dev_Alternate_Name_Use_Period_earliest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Alternate_Name_Use_Period_earliest"
                    Rds_dev_Alternate_Name_Use_Period_latest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Alternate_Name_Use_Period_latest"
      ]]'>
        <semantic-form-text-input for="Rds_dev_Person_Alternate_Name_Value"
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-text-input for="Rds_dev_Person_Alternate_Name_Type"
                                  languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-datetime-input for="Rds_dev_Alternate_Name_Use_Period_earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Rds_dev_Alternate_Name_Use_Period_latest"></semantic-form-datetime-input> 

      </semantic-form-composite-input>
              
      <semantic-form-select-input for="Rds_dev_Person_Gender"></semantic-form-select-input>

      <semantic-form-composite-input 
          for="Mph_Person_Birth_Place"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Mph_Birth_Place="http://www.metaphacts.com/fieldDefinition/Birth_Place"
                    Rds_dev_Person_Birth_Date_earliest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Birth_Date_earliest"
                    Rds_dev_Person_Birth_Date_latest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Person_Birth_Date_latest"
      ]]'>
        <semantic-form-autocomplete-input for="Mph_Birth_Place"> </semantic-form-autocomplete-input>

        <semantic-form-datetime-input for="Rds_dev_Person_Birth_Date_earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Rds_dev_Person_Birth_Date_latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>

      <semantic-form-composite-input 
          for="Mph_Person_Death_Place"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Rds_dev_Death_Place="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Place"
                    Rds_dev_Death_Date_Earliest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Date_Earliest"
                    Rds_dev_Death_Date_Latest="https://rds-dev.swissartresearch.net/container/fieldDefinitionContainer/Death_Date_Latest"
      ]]'>
        <semantic-form-autocomplete-input for="Rds_dev_Death_Place"></semantic-form-autocomplete-input>

        <semantic-form-datetime-input for="Rds_dev_Death_Date_Earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Rds_dev_Death_Date_Latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>

      <semantic-form-text-input for="Rds_Person_Father"></semantic-form-text-input>

      <semantic-form-text-input for="Rds_Person_Mother"></semantic-form-text-input>
      
      <semantic-form-composite-input 
          for="Rds_Person_Social_Relations"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Rds_Person_Social_Relations_-_Relation="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations_-_Relation"
                    Rds_Person_Social_Relations_-_Relation_Type="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Social_Relations_-_Relation_Type"
      ]]'>
        <semantic-form-text-input for="Rds_Person_Social_Relations_-_Relation"></semantic-form-text-input>

        <semantic-form-text-input for="Rds_Person_Social_Relations_-_Relation_Type"></semantic-form-text-input>
      </semantic-form-composite-input>

      <semantic-form-text-input for="Rds_dev_National_Affiliation"></semantic-form-text-input>

      <semantic-form-composite-input 
          for="Rds_dev_Institutional_Affiliation"
          new-subject-template="."
          fields='[[fieldDefinitions	
                    Rds_Person_Institutional_Affiliation_Value="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Value"
                    Rds_Person_Institutional_Affiliation_Role="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Role"
                    Rds_Person_Institutional_Affiliation_Start_Date_Earliest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Start_Date_Earliest"
                    Rds_Person_Institutional_Affiliation_Start_Date_Latest="https://rds.swissartresearch.net/container/fieldDefinitionContainer/Person_Institutional_Affiliation_Start_Date_Latest"
      ]]'>
        <semantic-form-text-input for="Rds_Person_Institutional_Affiliation_Value"></semantic-form-text-input>

        <semantic-form-text-input for="Rds_Person_Institutional_Affiliation_Role"></semantic-form-text-input>

        <semantic-form-datetime-input for="Rds_Person_Institutional_Affiliation_Start_Date_Earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Rds_Person_Institutional_Affiliation_Start_Date_Latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>
        
      <semantic-form-composite-input 
          for="Rds_dev_Floruit"
          new-subject-template="."
          fields='[[fieldDefinitions
                    Mph_Floruit_Place="http://www.metaphacts.com/fieldDefinition/Floruit_Place"
                    Mph_Floruit_Date_earliest="http://www.metaphacts.com/fieldDefinition/Floruit_Date_earliest"
                    Mph_Floruit_Date_latest="http://www.researchspace.org/instances/fields/Floruit_Date_latest"
      ]]'>
        <semantic-form-autocomplete-input for="Mph_Floruit_Place"></semantic-form-autocomplete-input>

        <semantic-form-datetime-input for="Mph_Floruit_Date_earliest"></semantic-form-datetime-input>

        <semantic-form-datetime-input for="Mph_Floruit_Date_latest"></semantic-form-datetime-input>

      </semantic-form-composite-input>
                
      <semantic-form-autocomplete-input for="Rds_dev_Occupation_General_Role"></semantic-form-autocomplete-input>

      <semantic-form-text-input for="Mph_Short_Biography"
                                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'
                                multiline=true>
      </semantic-form-text-input>

      <semantic-form-text-input for="Mph_Long_Biography"
                                languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'
                                multiline=true>
      </semantic-form-text-input>
      
      <semantic-form-errors></semantic-form-errors>
      <!-- save and reset button for form -->
      <button name='submit' class='btn btn-secondary'>Save</button>
      <button name='reset' class='btn btn-secondary'>Reset</button>
    </semantic-form>

    <mp-workflow-create id='source-workflow'
      new-subject-template='http://schema.swissartresearch.net/workflow-source-{{UUID}}'
      definition='http://schema.swissartresearch.net/workflow_definition'
      first-step='http://schema.swissartresearch.net/step/inProgress'
      assignee_disabled='[[jsonValueFromSelect "SELECT ?assignee WHERE { BIND (?__useruri__ as ?assignee) }"]]'
      use-event-system=true>
    </mp-workflow-create>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceCreated'
      proxy-event-type='Workflow.Create'
      proxy-targets='["source-workflow"]'>
    </mp-event-proxy>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceUpdated'
      proxy-event-type='Component.TemplateUpdate'
      proxy-targets='["event-target"]'
      data='{"updated": true}'>
    </mp-event-proxy>

    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        {{#if updated}}
        <bs-alert variant="info">
          Resource has been updated.
        </bs-alert>
        {{/if}}
      </template>
    </mp-event-target-template-render>

    <mp-event-proxy id='workflow-proxy'
      on-event-type='Workflow.SubjectGetInWorkflow'
      proxy-event-type='RedirectAction.perform'
      proxy-targets='["redirect-to-resource"]'>
    </mp-event-proxy>

    <mp-event-target-redirect
      id='redirect-to-resource'
      action='redirect'>
    </mp-event-target-redirect>
  </div>
</div>
[[/inline]]

[[#*inline "newSubPerson"]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1">
    [[> @partial-block ]]
  </div>
  <div>
    <semantic-link
      iri="[[resolvePrefix "rdsPages:NewPerson"]]"
      target="_blank">
      <button class='btn btn-secondary'>Create new</button>
    </semantic-link>
  </div>
</div>
[[/inline]]

[[#*inline "cant-edit-workflow"]]
  [[!--
  PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#>
  PREFIX wf_steps: <http://schema.swissartresearch.net/step/>
  ASK { ?workflow workflow:subject ??.
    ?workflow workflow:currentState ?state.
    ?state workflow:step ?step.
    OPTIONAL { ?userGroup foaf:member ?__useruri__ . }

    FILTER(
        (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) &&
          ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview))
    ) || (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>)
    )
    )
  }
  --]]
  [[#if (ask "PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> PREFIX wf_steps: <http://schema.swissartresearch.net/step/> ASK { ?workflow workflow:subject ??. ?workflow workflow:currentState ?state. ?state workflow:step ?step. OPTIONAL { ?userGroup foaf:member ?__useruri__ .} FILTER(((BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) && ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview)) ) || (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>))}")]]  
    false
  [[else]]
    true
  [[/if]]
[[/inline]]

[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> rdsParts:LookupCandidateTemplate]]
</template>
[[/inline]]

[[#*inline "showOnRdsGlobalPersonFor"]]
[[> rdsParts:ReadMoreButton]]
<div style="display: flex; align-items: flex-end;">
  <div style="flex-grow: 1; min-width: 50%;">
    [[> @partial-block ]]
  </div>
  <div style='padding: 5px'>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <mp-description iri="{{node.value}}"></mp-description>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
  <div>
    <semantic-form-template template="{{> template}}">
      <template id="template">
        {{#if model.fields.[[fieldName]]}}
          {{#each model.fields.[[fieldName]].values}}
            {{#if node}}
              <semantic-query
                query='SELECT * WHERE { {{node}} a ?type } LIMIT 1'
                template=' '
                no-result-template='{{> readMoreOnRdsGlobal resourceIri=node.value}}'>
                [[> readMoreOnRdsGlobal_frontendTemplate]]
              </semantic-query>
            {{/if}}
          {{/each}}
        {{/if}}
      </template>
    </semantic-form-template>
  </div>
</div>
[[/inline]]