[[> rdsParts:RDSFieldDefinitions]]

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page">
  <table class='table'>
    <th>
      <div data-flex-self='size-xsmall' style="color:#e8e6e6;font-weight:700;" class="text-center">
        [[> rdsPages:RecordImage]]
      </div>
    </th>
    <th>
      <div class="page__header page__header--no-image" style="display:block;">
        <h2><mp-label iri="[[this]]"></mp-label></h2>
        <div class='panel__uri'>
          <div title='[[this]]' class='panel__uri-text'>
            <b>URI:</b> [[this]]
          </div>
          <mp-copy-to-clipboard text='[[this]]'>
            <button class='btn btn-link btn-sm panel__uri-copy-button'>
              <i class='fa fa-clipboard'></i>
            </button>
          </mp-copy-to-clipboard>
        </div>
        <div><b>Description: </b></div>
        <i><mp-description iri="[[this]]"></mp-description></i>
        <div>
          <b>Types: </b>
          <semantic-query
            style='display:inline;'
            query='SELECT ?type WHERE { ?? a ?type}'
            no-result-template='-'>
          </semantic-query>
        </div>
      </div>
    </th>
  </table>
  <bs-tabs id='record-tabs' class='page__body-navtabs--borderless' default-active-key='summary' unmount-on-exit=true>
    <bs-tab event-key='summary' title='Summary'>
      <div data-flex-layout='row top-stretch'>
        <div class='table-responsive'>
          <table class='table'>
            <thead role='header'>
              <tr>
                <th>Field</th>
                <th>Value</th>
              </tr>
            </thead>
            <mp-field-visualization
            subject='[[this]]'
            fields='[
              [[> Group_Identifiers]],
              [[> Group_Name]],
              [[> Group_Type]],
              [[> Group_Alternate_Name-readOnly]],
              [[> Group_Fromation-readOnly]],
              [[> Group_Dissolution-readOnly]],
              [[> Group_Part_Of]],
              [[> Group_Has_Part]],
              [[> National_Affiliation]],
              [[> Founding_Member]],
              [[> Members]],
              [[> Scope_Of_Activity]],
              [[> Floruit_read_only]],
              [[> Group_Location-readOnly]],
              [[> Group_Short_Biography]]
            ]'
            template='{{> property-table}}'>
                <template id="property-table">
                  [[> rdsParts:FieldBasedVisualization]]
                </template>
              </mp-field-visualization>
          </table>
        </div>
      </div>
    </bs-tab>
    [[#if (hasPermission "forms:ldp:*")]] 
    <bs-tab event-key='authoring' title='Authoring'>
      <div> 
        <div data-flex-layout='row top-stretch'>
          <div class='authoring_section'>
            [[> rdsPages:NewGroup edit=true]]
          </div>
        </div>
      </div>
    </bs-tab>
    [[/if]]
  </bs-tabs>
</div>
<style>
  .panel__uri {
    display: flex;
    align-items: center;
  }

  .knowledge-pane__uri-copy-button {
    flex: 0 0 auto;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s;
  }

  .panel__uri:hover .panel__uri-copy-button {
    opacity: 1;
    visibility: visible;
  }

  .panel__uri-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>