[[> name]],
[[> colleagueOf]],
[[> assistedBy]],
[[> assistantOf]]

[[#*inline "name"]]
{
    "id": "name",
    "iri" : "http://www.metaphacts.com/fieldDefinition/Name",
    "selectPattern" : "SELECT DISTINCT ?value WHERE {
        ?subject (((gvp:prefLabelGVP | xl:prefLabel)/xl:literalForm) | rdfs:label) ?value .
        FILTER ISLITERAL(?value)
    }",
    "xsdDatatype" : "http://www.w3.org/1999/02/22-rdf-syntax-ns#langString",
    "domain" : [ ],
    "range" : [ ],
    "defaultValues" : [ ],
    "label" : "Name",
    "order" : 0
}
[[/inline]]

[[#*inline "colleagueOf"]]
{
    "id": "colleagueOf",
    "iri" : "http://www.metaphacts.com/fieldDefinition/ColleagueOf",
    "selectPattern" : "SELECT DISTINCT ?value WHERE {
        ?subject <http://vocab.getty.edu/ontology#ulan1301_colleague_of> ?value.
    }",
    "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
    "domain" : [ ],
    "range" : [ ],
    "defaultValues" : [ ],
    "label" : "Colleague of",
    "order" : 0
}
[[/inline]]

[[#*inline "assistedBy"]]
{
    "id": "dateBirth",
    "iri" : "http://www.metaphacts.com/fieldDefinition/AssistedBy",
    "selectPattern" : "SELECT DISTINCT ?value WHERE {
        ?subject <http://vocab.getty.edu/ontology#ulan1308_assisted_by> ?value .
    }",
    "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
    "domain" : [ ],
    "range" : [ ],
    "defaultValues" : [ ],
    "label" : "Assisted by",
    "order" : 0
}
[[/inline]]

[[#*inline "assistantOf"]]
{
    "id": "assistantOf",
    "iri" : "http://www.metaphacts.com/fieldDefinition/AssistantOf",
    "selectPattern" : "SELECT DISTINCT ?value WHERE {
        ?subject <http://vocab.getty.edu/ontology#ulan1308_assisted_by> ?value .
    }",
    "xsdDatatype" : "http://www.w3.org/2001/XMLSchema#anyURI",
    "domain" : [ ],
    "range" : [ ],
    "defaultValues" : [ ],
    "label" : "Assistant of",
    "order" : 0
}
[[/inline]]
