<div style="margin-top:10%;">
  <div data-flex-layout="column center-center">
    <div>
      <h1>Welcome to RDS-demo</h1>
      [[!-- This template is uses next parameters set: 'localSourcesOnly' --]]
    <semantic-simple-search
      resource-binding-name="subject"
      query='{
        "type": "lookup",
        "limit": 6
      }'
      template='{{> rowTemplate}}'
      input-placeholder='Search for entities'
    >
    <template id='rowTemplate'>
      <span style="color: blue;" title="{{subject.value}}">{{label.value}} ({{#if type}}<semantic-link iri="{{type.value}}"></semantic-link>,{{/if}} score: {{score.value}})</span>
    </template></semantic-simple-search>
    </div>
  </div>
</div>