<div style="margin-top:10%;">
  <div data-flex-layout="column center-center">
    <div>
      <h1>Welcome to RDS-demo</h1>
      [[!-- This template is uses next parameters set: 'localSourcesOnly' --]]
      <semantic-simple-search
        resource-binding-name="subject"
        query='{
          "type": "lookup",
          "limit": 60
        }'
        template='{{> rowTemplate}}'
        input-placeholder='Search for entities'>
        <template id='rowTemplate'>
          <div>
            <div title="{{subject.value}}" style='display: flex;'>
              {{label.value}}
              {{#if type}}
                  |&nbsp type:
                  {{#if typeLabel}}
                      {{typeLabel.value}}
                  {{else}}
                      {{type.value}}
                  {{/if}}
              {{/if}}

              {{#if score}}
                  |&nbsp score: {{score.value}}
              {{/if}}

              {{#if datasetId}}
                  |&nbsp dataset: 
                  {{#if datasetLabel}}
                      {{datasetLabel.value}}
                  {{else}}    
                      {{datasetId.value}}
                  {{/if}}
              {{/if}}
            </div>
            <iframe src="https://rds-mph.swissartresearch.net/rest/reconciliation/description?uri={{{subject.value}}}" frameborder="0"></iframe>
            {{#if description}}<div>Description: {{description.value}}</div>{{/if}}
          </div>
        </template>
      </semantic-simple-search>
      <iframe src="https://rds-mph.swissartresearch.net/rest/reconciliation/description?uri=http%3A%2F%2Fwww.wikidata.org%2Fentity%2FQ3078814" frameborder="0"></iframe>
    </div>
  </div>
</div>