<div style="margin-top:10%;">
  <div data-flex-layout="column center-center">
    <div>
      <h1>Welcome to RDS-demo</h1>
      [[!-- This template is uses next parameters set: 'localSourcesOnly' --]]
      <semantic-simple-search
        resource-binding-name="subject"
        query='{
          "type": "lookup",
          "limit": 60
        }'
        template='{{> rowTemplate}}'
        input-placeholder='Search for entities'>
        <template id='rowTemplate'>
          <div>
            <div title="{{subject.value}}" style='display: flex;'>
              {{label.value}}
              {{#if type}}
                  |&nbsp type:
                  <b>
                    {{#if typeLabel}}
                        {{typeLabel.value}}
                    {{else}}
                        {{type.value}}
                    {{/if}}
                  </b>
              {{/if}}

              {{#if score}}
                  |&nbsp score: {{score.value}}
              {{/if}}

              {{#if datasetId}}
                  |&nbsp dataset: 
                  {{#if datasetLabel}}
                      {{datasetLabel.value}}
                  {{else}}    
                      {{datasetId.value}}
                  {{/if}}
              {{/if}}
            </div>
            {{#if description}}<div><i>Description: {{description.value}}</i></div>{{/if}}
          </div>
        </template>
      </semantic-simple-search>
    </div>
  </div>
</div>