[[> "http://rds-pages.swissartresearch.net/editPersonFormFields"]]
<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
</ol>

[[#if (hasPermission "forms:ldp:*")]]
  <div class="page">
    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        [[#if edit]]
          [[> edit-person-form]]
        [[else]]
          [[> search-for-existing]]
          {{#if newPerson}}
            [[> edit-person-form]]
          {{/if}}
        [[/if]]
      </template>
    </mp-event-target-template-render>
  </div>
[[/if]]

[[#*inline "search-for-existing"]]
<div class='row' style='max-width: 100%;'>
  <div class="col-md-8 offset-md-2" style="margin-bottom: 20px">
    <h2>Check if person exists</h2>
    <semantic-search limit=1000>
      <semantic-search-keyword-prefetch
        query='{ "type": "lookup", "limit": 20, "entityType": "http://schema.swissartresearch.net/ontology/rds#Person" }'
        placeholder='Input the name of the person you want to create'>
      </semantic-search-keyword-prefetch>

      <div data-flex-layout="row stretch-stretch" style='margin-top: 20px;'>
        <div style='max-width: 90vw'>
          <semantic-search-result-holder>
            <semantic-search-result>
              <semantic-table
                id='table'
                options='{"showFilter": false}' 
                query='SELECT * WHERE { } ORDER BY DESC(?score)'
                number-of-displayed-rows=10
                no-result-template='No existing people with this name'
                column-configuration='[
                    {"variableName": "subject", "displayName": "Existing people with provided name", "cellTemplate": "{{> link-to-subject}}" },
                    {"variableName": "description", "displayName": "Description" },
                    {"variableName": "type", "displayName": "Type" },
                    {"variableName": "datasetLabel", "displayName": "Dataset", "cellTemplate": "{{> dataset-label}}" },
                    {"variableName": "action", "displayName": "action", "cellTemplate": "{{> create-button}}"  }
                ]'>
                <template id="dataset-label">
                  <semantic-link iri="{{datasetId.value}}">{{datasetLabel.value}}</semantic-link>
                </template>
                <template id="link-to-subject">
                  <semantic-query
                    query='SELECT * WHERE { {{subject}} a ?type }'
                    template='<semantic-link iri={{subject.value}}></semantic-link>'
                    no-result-template='<semantic-link iri="[[resolvePrefix "RemoteResourceVisualisation"]]" urlqueryparam-resource-iri="{{subject.value}}"><mp-label iri="{{subject.value}}"><mp-label></semantic-link>'>
                  ></semantic-query>
                </template>
                <template id="create-button">
                  <mp-event-trigger
                    id='event-trigger-de'
                    type='Component.TemplateUpdate'
                    data='{"newPerson": true, "sameAs": "{{subject.value}}"}'
                    targets='["event-target"]'>
                    <button class='btn btn-primary'>Create the same</button>
                  </mp-event-trigger>
                </template>
              </semantic-table>
            </semantic-search-result>
          </semantic-search-result-holder>
          <semantic-search-result-holder>
            <semantic-search-result>
              <semantic-table
                id='table'
                options='{"showFilter": false}' 
                query='SELECT * WHERE { } ORDER BY DESC(?score) LIMIT 1'
                number-of-displayed-rows=10
                no-result-template='{{> no-person-template}}'
                tuple-template='{{> tuple-template}}'>
                <template id="no-person-template">
                  <div class="text-center">
                    There is not exiting person with provided name.<br/>
                    Do you want to create a new person?
                  </div>
                  <div style="width: 100%; justify-content: center; display: flex;">
                    <mp-event-trigger
                      id='event-trigger-de'
                      type='Component.TemplateUpdate'
                      data='{"newPerson": true}'
                      targets='["event-target"]'>
                      <button class='btn btn-primary'>Create new person</button>
                    </mp-event-trigger>
                  </div>
                </template>
                <template id="tuple-template">
                  <div class="text-center">
                    This person already exists, do you still want to create a new person?
                    <mp-event-trigger
                      id='event-trigger-de'
                      type='Component.TemplateUpdate'
                      data='{"newPerson": true}'
                      targets='["event-target"]'>
                      <button class='btn btn-primary'>Create new person</button>
                    </mp-event-trigger>
                  </div>
                </template>
              </semantic-table>
            </semantic-search-result>
          </semantic-search-result-holder>
        </div>
      </div>
    </semantic-search>
  </div>
</div>
[[/inline]]

[[#*inline "edit-person-form"]]
[[#if edit]]
<div class='row'>
  <div class="offset-md-4 col-md-4">
    <mp-workflow-manager
      iris='[[jsonArrayFromSelect "SELECT ?workflow WHERE { ?workflow <http://www.metaphacts.com/ontologies/platform/workflow#subject> ?? . }" ]]'
      definition='http://schema.swissartresearch.net/workflow_definition'
      readonly=[[> cant-edit-workflow]]>
    </mp-workflow-manager>
  </div>
</div>
[[/if]]
<div class='row'>
  <div class="text-center col-md-2">
    <br>
    <font size="+2">
        [[#if edit]]
          Edit <b><mp-label iri='[[this]]'></mp-label></b>
        [[else]]
          Add a new <b>Person</b>
        [[/if]]
    </font>
    <br>
    <img src="https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-512.png" width="50%">
  </div>
  <div class="col-md-8" style="margin-bottom: 100px">
    <semantic-form
        id="newPerson"
        new-subject-template='https://resource.swissartresearch.net/person/{{UUID}}'
        [[#if edit]]
          subject='[[this]]'
        [[/if]]
        browser-persistence=true
        persistence='ldp' 
        form-id='persons'             
        post-action='event'              
        fields='[
            [[> Same_as]],
            [[> Rdf_type]],
            [[> Mph_Person_Name]],
            [[> Mph_Identifier]],
            [[> Mph_Identifier_Provider]],
            [[> Person_Gender]],
            [[> Mph_Person_Birth_Place]],
            [[> Mph_Person_Death_Place]],
            [[> Occupation_General_Role]],
            [[> Mph_Short_Biography]],
            [[> Mph_Long_Biography]],
            [[> Mph_Person_GND_URL]],
            [[> Mph_Person_Name_Honorific]],
            [[> Person_Father]],
            [[> Person_Mother]],
            [[> Person_Social_Relations]]
        ]'>
        <semantic-form-hidden-input for="Rdf_type" default-value='http://www.cidoc-crm.org/cidoc-crm/E21_Person'></semantic-form-hidden-input>

        {{#if sameAs}}
        <semantic-form-autocomplete-input
          for="Same_as"
          value-binding-name="subject"
          lookup-query='{
            "type": "lookup",
            "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
            "limit": 20
          }'
          template='{{> autocompletionTemplate}}'
          default-value='{{sameAs}}'>
          [[> autocompletionTemplate]]
        </semantic-form-autocomplete-input>
        {{else}}
          <semantic-form-autocomplete-input
            for="Same_as"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
              "limit": 20
            }'
            template='{{> autocompletionTemplate}}'>
            [[> autocompletionTemplate]]
          </semantic-form-autocomplete-input>
        {{/if}}

        <semantic-form-text-input
            for="Mph_Person_Name" 
            languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-text-input
            for="Mph_Person_Name_Honorific"
            languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>

        <semantic-form-composite-input 
            for="Mph_Identifier"
            new-subject-template=""
            fields='[
                [[> Identifier_Source]],
                [[> Identifier_Type]],
                [[> Mph_Identifier_Provider]],
                [[> Identifier_Value]]
            ]'>
            <semantic-form-text-input for="Identifier_Value"></semantic-form-text-input>
            <semantic-form-text-input for="Identifier_Source"></semantic-form-text-input>
            <semantic-form-text-input for="Identifier_Type"></semantic-form-text-input>
            <semantic-form-text-input for="Mph_Identifier_Provider"></semantic-form-text-input>
        </semantic-form-composite-input>  

        <semantic-form-text-input
            for="Mph_Identifier_Provider"
            languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
        </semantic-form-text-input>
            
        <semantic-form-select-input 
            for="Person_Gender">
        </semantic-form-select-input>

        <semantic-form-composite-input 
            for="Mph_Person_Birth_Place"
            new-subject-template="/birth"
            fields='[
              [[> Mph_Birth_Place]], 
              [[> Person_Birth_Date_earliest]],
              [[> Person_Birth_Date_latest]]
            ]'>
            <semantic-form-autocomplete-input 
                for="Mph_Birth_Place">
            </semantic-form-autocomplete-input>
            <semantic-form-datetime-input 
                for="Person_Birth_Date_earliest">
            </semantic-form-datetime-input>
            <semantic-form-datetime-input 
                for="Person_Birth_Date_latest">
            </semantic-form-datetime-input>
        </semantic-form-composite-input>

        <semantic-form-composite-input 
            for="Mph_Person_Death_Place"
            new-subject-template="/death"
            fields='[
                [[> Death_Place]],
                [[> Death_Date_Earliest]],
                [[> Death_Date_Latest]]
            ]'>
            <semantic-form-autocomplete-input 
                for="Death_Place">
            </semantic-form-autocomplete-input>
            <semantic-form-datetime-input 
                for="Death_Date_Earliest">
            </semantic-form-datetime-input>
            <semantic-form-datetime-input 
                for="Death_Date_Latest">
            </semantic-form-datetime-input>
        </semantic-form-composite-input>


        <semantic-form-autocomplete-input
          for="Person_Father"
          value-binding-name="subject"
          lookup-query='{
            "type": "lookup",
            "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
            "limit": 20
          }'
          template='{{> autocompletionTemplate}}'>
          [[> autocompletionTemplate]]
          [[> new-sub-person]]
        </semantic-form-autocomplete-input>
        <semantic-form-autocomplete-input
          for="Person_Mother"
          value-binding-name="subject"
          lookup-query='{
            "type": "lookup",
            "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
            "limit": 20
          }'
          template='{{> autocompletionTemplate}}'>
          [[> autocompletionTemplate]]
          [[> new-sub-person]]
        </semantic-form-autocomplete-input>
        
        <semantic-form-autocomplete-input 
            for="Occupation_General_Role"
            value-binding-name="subject"
            lookup-query='{
              "type": "lookup",
              "limit": 20
            }'>
        </semantic-form-autocomplete-input>

        <semantic-form-text-input 
            for="Mph_Short_Biography"
            languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'
            multiline=true>
        </semantic-form-text-input>

        <semantic-form-text-input 
            for="Mph_Long_Biography"
            languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'
            multiline=true>
        </semantic-form-text-input>

        [[!--
        <semantic-form-composite-input 
            for="Person_Social_Relations"
            new-subject-template="."
            fields='[
              [[> Person_Social_Relations_-_Relation]],
              [[> Person_Social_Relations_-_Relation_Type]]
            ]'>
            <semantic-form-autocomplete-input
              for="Person_Social_Relations_-_Relation"
              value-binding-name="subject"
              lookup-query='{
                "type": "lookup",
                "entityType": "http://schema.swissartresearch.net/ontology/rds#Person",
                "limit": 20
              }'>
              [[> new-sub-person]]
            </semantic-form-autocomplete-input>
            <semantic-form-text-input 
            for="Person_Social_Relations_-_Relation_Type">
            </semantic-form-text-input>
        </semantic-form-composite-input>
        --]]

        <semantic-form-errors></semantic-form-errors>
        <!-- save and reset button for form -->
        <button name='submit' class='btn btn-secondary'>Save</button>
        <button name='reset' class='btn btn-secondary'>Reset</button>
    </semantic-form>

    <mp-workflow-create id='source-workflow'
      new-subject-template='http://schema.swissartresearch.net/workflow-source-{{UUID}}'
      definition='http://schema.swissartresearch.net/workflow_definition'
      first-step='http://schema.swissartresearch.net/step/inProgress'
      assignee_disabled='[[jsonValueFromSelect "SELECT ?assignee WHERE { BIND (?__useruri__ as ?assignee) }"]]'
      use-event-system=true>
    </mp-workflow-create>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceCreated'
      proxy-event-type='Workflow.Create'
      proxy-targets='["source-workflow"]'>
    </mp-event-proxy>

    <mp-event-proxy id='proxy-source-creation'
      on-event-type='Form.ResourceUpdated'
      proxy-event-type='Component.TemplateUpdate'
      proxy-targets='["event-target"]'
      data='{"updated": true}'>
    </mp-event-proxy>

    <mp-event-target-template-render id='event-target' template='{{> template}}'>
      <template id='template'>
        {{#if updated}}
        <bs-alert variant="info">
          Resource has been updated.
        </bs-alert>
        {{/if}}
      </template>
    </mp-event-target-template-render>

    <mp-event-proxy id='workflow-proxy'
      on-event-type='Workflow.SubjectGetInWorkflow'
      proxy-event-type='RedirectAction.perform'
      proxy-targets='["redirect-to-resource"]'>
    </mp-event-proxy>

    <mp-event-target-redirect
      id='redirect-to-resource'
      action='redirect'>
    </mp-event-target-redirect>
  </div>
</div>
[[/inline]]

[[#*inline "new-sub-person"]]
  <semantic-form
    form-id='new-person'
    new-subject-template='https://resource.swissartresearch.net/person/{{UUID}}'
    fields='[
      [[> Rdf_type]],
      [[> Mph_Person_Name]],
      [[> Mph_Identifier]],
      [[> Mph_Identifier_Provider]],
      [[> Person_Gender]]
    ]'>
    <semantic-form-hidden-input for="Rdf_type" default-value='http://www.cidoc-crm.org/cidoc-crm/E21_Person'></semantic-form-hidden-input>

    <semantic-form-text-input
        for="Mph_Person_Name" 
        languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
    </semantic-form-text-input>

    <semantic-form-composite-input
        for="Mph_Identifier"
        new-subject-template=""
        fields='[
          [[> Identifier_Source]],
          [[> Identifier_Type]],
          [[> Mph_Identifier_Provider]],
          [[> Identifier_Value]]
        ]'>
        <semantic-form-text-input for="Identifier_Value"></semantic-form-text-input>
        <semantic-form-text-input for="Identifier_Source"></semantic-form-text-input>
        <semantic-form-text-input for="Identifier_Type"></semantic-form-text-input>
        <semantic-form-text-input for="Identifier_Provider"></semantic-form-text-input>
    </semantic-form-composite-input>  

    <semantic-form-text-input
        for="Mph_Identifier_Provider"
        languages='["en","de","fr","it","sp","ca","cs","da","nl","fi","gr","hu","no","pt","sv","ru","jp","ko"]'>
    </semantic-form-text-input>

    <semantic-form-select-input  for="Person_Gender"></semantic-form-select-input>

    <semantic-form-errors></semantic-form-errors>

    <button name='submit' class='btn btn-secondary'>Create person</button>
    <button name='reset' class='btn btn-secondary'>Reset person</button>
  </semantic-form>
[[/inline]]

[[#*inline "cant-edit-workflow"]]
  [[!--
  PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#>
  PREFIX wf_steps: <http://schema.swissartresearch.net/step/>
  ASK { ?workflow workflow:subject ??.
    ?workflow workflow:currentState ?state.
    ?state workflow:step ?step.
    OPTIONAL { ?userGroup foaf:member ?__useruri__ . }

    FILTER(
        (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) &&
          ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview))
    ) || (
          (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>)
    )
    )
  }
  --]]
  [[#if (ask "PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> PREFIX wf_steps: <http://schema.swissartresearch.net/step/> ASK { ?workflow workflow:subject ??. ?workflow workflow:currentState ?state. ?state workflow:step ?step. OPTIONAL { ?userGroup foaf:member ?__useruri__ .} FILTER(((BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/editor>) && ((?step = wf_steps:inProgress) || (?step = wf_steps:readyToReview)) ) || (BOUND(?userGroup)) && (?userGroup = <https://resources.swissartresearch.net/workflow/reviewer>))}")]]  
    false
  [[else]]
    true
  [[/if]]
[[/inline]]

[[#*inline "autocompletionTemplate"]]
<template id='autocompletionTemplate'>
    [[> mpp:LookupCandidateTemplate]]
</template>
[[/inline]]