<div style="margin-top:10%;">
  <div data-flex-layout="column center-center">
    <div>
      <h1>Welcome to RDS-global project</h1>
      [[!-- This template is uses next parameters set: 'localSourcesOnly' --]]
    <semantic-form new-subject-template='http://www.example.com/dictionary/id/{{UUID}}'
        post-action='redirect'
        browser-persistence=true
        form-id='example-1'
        fields='[
          {
            "id": "place",
            "label": "Place of birth",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "0",
            "selectPattern": "SELECT $value WHERE { $subject <http://example.com/hasPlaceOfBirth> $value }",
            "insertPattern": "INSERT { $subject <http://example.com/hasPlaceOfBirth> $value } WHERE {}",
            "deletePattern": "DELETE { $subject <http://example.com/hasPlaceOfBirth> $value } WHERE {}"
          },
          {
            "id": "person",
            "label": "Person",
            "description": "Who compiled this dictionary",
            "xsdDatatype": "xsd:anyURI",
            "minOccurs": "1",
            "selectPattern": "SELECT $value WHERE {
                $subject <http://example.com/isAbout> $value .
              }",
            "insertPattern": "INSERT {
                $subject <http://example.com/isAbout> $value .
              } WHERE {}",
            "deletePattern": "DELETE {
                $subject <http://example.com/isAbout> $value .
              } WHERE {}"
          }
        ]'>
      <bs-panel>
        <h4>Create a new record about Person</h4>
        <semantic-form-recover-notification></semantic-form-recover-notification>
        <bs-alert>
          <b>Person</b> is a <code>gnd#Person</code> entity. Type "Albert Einstein" to test this field.
        </bs-alert>
        <semantic-form-autocomplete-input for='person'
          value-binding-name="subject"
          lookup-query='{
            "type": "lookup",
            "defaultTerm": "Johns",
            "entityType": "https://d-nb.info/standards/elementset/gnd#Person",
            "limit": 5
          }'
        ></semantic-form-autocomplete-input>
        <bs-alert>
          <b>Place of birth (<code>gnd#PlaceOrGeographicName</code>)</b>. This field use the lookup service. Type "Ulm" to test this field.
        </bs-alert>
        <semantic-form-autocomplete-input for='place'
          value-binding-name="subject"
          lookup-query='{
              "type": "lookup",
              "term": "Ulm",
              "entityType": "https://d-nb.info/standards/elementset/gnd#PlaceOrGeographicName",
              "limit": 5
            }'
        ></semantic-form-autocomplete-input>
        <button name="submit" class="btn btn-default">Save</button>
        <button name="reset" class="btn btn-default">Reset</button>
        </bs-panel>
    </semantic-form>
    </div>
  </div>
</div>