<style>
    .disable-margin .page-breadcrumb {
        display: none;
    }

    .disable-margin .page {
        padding: 0;
    }
    .disable-padding {
        margin-top: -.7rem;
    }
</style>

<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
        <mp-label iri='[[this]]'></mp-label>
    </li>
</ol>

<div class="disable-margin" style="padding-top: 50px;">
    <bs-tabs id="tabs">
        <bs-tab event-key="View" title="View">
            <div class="disable-padding">
                [[> "Template:http://schema.swissartresearch.net/ontology/rds#Person"]]
            </div>
        </bs-tab>
        <bs-tab event-key="edit" title="Edit">
            [[> EditPersonForm edit=true]]
        </bs-tab>
    </bs-tabs>
</div>